[2017-04-24 09:02] scottrobertson opened #3 "Slowness causing timeouts"
For larger accounts, we are facing timeouts. This is an issue on something like Heroku as the have a hard coded 30-second timeout.

I am going to look into how/if we can background these requests without bringing in another dependency such as redis for queuing.

[2017-04-24 09:04] scottrobertson commented on #3
If doing it without a dependency is not possible then we will just need to make it optional. So have the ability to use Celery + Redis.

[2017-04-24 11:28] scottrobertson commented on #3
@rossdargan this is actually probably quite easy. We just need to define the client outside of the main.py controller. I will move it to settings.py to test for now

[2017-04-24 12:14] scottrobertson commented on #3
Ok, while this has helped, heroku has a boot timeout, which is 60 seconds, so that now times out :(

[2017-04-24 12:20] rossdargan commented on #3
bah. Could you add an option to do the load on either boot, or first transaction add (boot works best for docker)

[2017-04-24 12:21] scottrobertson commented on #3
The timeout is even lower when adding on the first transaction (30 seconds. boot is 60 seconds).

[2017-04-24 12:21] scottrobertson commented on #3
Gonna look into how we are populating sqlite. It feels like it takes a LONG time.

[2017-04-24 12:28] scottrobertson commented on #3
@rossdargan as for your "sync before pushing" comment. It seems that the client does that internally.

[2017-04-24 12:33] rossdargan commented on #3
Fab.... however should we do it before checking for payees?

[2017-04-24 12:34] scottrobertson commented on #3
Yeah that is a good point

[2017-04-24 12:35] scottrobertson opened #5 "Memory usage"
Just hit a "Memory quota exceeded" error on heroku. The app is using 592M of ram. That seems a bit excessive. Need to work out where this is happening, and if it's in our app, or in the library.

[2017-04-24 13:22] ganey commented on #5
Are you using a free Heroku deploy?

I haven't updated my instance for a few weeks so I don't have any of the latest changes between you and Ross.

Also wondering if I should wait for [Pull 6](https://github.com/scottrobertson/monzo-to-ynab/pull/6) before redeploying.

Thanks for all the work you guys are putting into this!

[2017-04-24 13:55] scottrobertson commented on #5
I am using free heroku to test this out yeah. I would hold off on deploying just now until we work out the memory issue.

#6 has been merged already though :)

[2017-04-24 14:02] scottrobertson commented on #5
@rienafairefr do you have any ideas on this? Do you think it will be in the library? I don't see anywhere in our code that will be causing a memory leak like this after only a few syncs.

[2017-04-24 14:26] rossdargan commented on #5
FYI on docker it sits around 280mb for my dataset.

[2017-04-24 14:27] scottrobertson commented on #5
How many transactions do you have?

[2017-04-24 14:27] rossdargan commented on #5
device_knowledge_of_server 520396382

[2017-04-24 14:28] rossdargan commented on #5
I'm going to update my docker image. I'm pretty happy with this release now on docker.

[2017-04-24 14:28] scottrobertson commented on #5
I can get it setup on Dockerhub if you want so that it auto builds from master?

[2017-04-24 14:31] rossdargan commented on #5
It's up to you. might make sense. I'll keep mine up to date, but point people to yours going forward.

[2017-04-24 14:39] scottrobertson opened #7 "Docker Size"
@rossdargan the docker image is HUGE. Not sure why that python image is so big, some of the layers are > 150mb which is crazy. We need to look into an alpine based image at least.

[2017-04-24 14:40] scottrobertson commented on #7
There are `-slim` versions of each of the versions.

[2017-04-24 14:43] rossdargan commented on #7
Are you looking into this or would you like me to?

[2017-04-24 14:45] scottrobertson commented on #7
I can at some point tonight. But if you want, here is some starter code:

[code]

[2017-04-24 15:08] rossdargan commented on #7
Getting a little closer

[code]

Need to resolve the following though:

Could not find function xmlCheckVersion in library libxml2. Is libxml2 installed?
** make sure the development packages of libxml2 and libxslt are installed **
Package 'libffi', required by 'world', not found
c/_cffi_backend.c:15:17: fatal error: ffi.h: No such file or directory

[2017-04-24 15:15] scottrobertson commented on #7
You should be able to just install it using apk https://pkgs.alpinelinux.org/package/v3.3/main/x86/libffi

[2017-04-24 15:30] rienafairefr commented on #5
Depends. Is memory usage increasing with each sync or push? If there is a
boatload of user data /transactions, that could use ram for sure

On Apr 24, 2017 16:02, "Scott Robertson" <notifications@github.com> wrote:

[2017-04-24 16:05] rossdargan commented on #7
Ok. It was 314 MB... I've pushed the new one to docker hub so lets see what size it thinks it is now it's over to alpine!

I need to update the readme.md to include some getting started stuff for docker (I like to give a sample docker-compose) - are you happy having that info added?

[2017-04-24 16:34] rossdargan commented on #7
147 MB now. A bit slimmer :)

[2017-04-24 16:46] scottrobertson commented on #7
It was only 314? The base image is around 900 on its own, not sure how it got down to 314. Awesome job!

[2017-04-24 16:46] #7 closed

[2017-04-24 20:35] scottrobertson opened #9 "Sync with YNAB each webhook to get latest payees"

[2017-04-24 20:35] scottrobertson commented on #9
Working on this now

[2017-04-24 20:51] #9 closed

[2017-04-25 18:38] scottrobertson opened #10 "Tag 1.0.0"
@rossdargan how do you feel about this? We ready to tag a "stable" release?

[2017-04-25 18:40] scottrobertson commented on #3
I think this is ok now. It's still not as fast as i would want it to be, but it's < 10 seconds so it should be fine. If we can work out another way around this, it would be good, but for now this is fine.

[2017-04-25 18:41] #3 closed

[2017-04-25 18:45] scottrobertson commented on #5
@rossdargan it's consistently using around 5/600. I have around 3000 transactions in YNAB. However, even 100mb for that many transactions seems insane. That would be about 30kb per transaction, which they are 100% not?

[2017-04-25 18:46] scottrobertson commented on #5
@rienafairefr i will do some reading into Python profiling and see if i can work out where the memory usage is coming from

[2017-04-25 20:15] rossdargan commented on #3
Agreed :)

[2017-04-25 20:17] rossdargan commented on #5
@scottrobertson Mines at 260mb now. Looks like profiling will be the way forward.

[2017-04-25 20:20] rossdargan commented on #10
Lets give it a few weeks to bed in. I'd like to push a few more transactions through it before the big 1.0! Feature wise it's totally there though.

[2017-04-25 20:37] scottrobertson commented on #5
I got rid of gunicorn, it's dropped to ~400mb from higher 500's. I will keep an eye on it.

[2017-04-25 21:02] rienafairefr commented on #5
As a baseline, without any data in it a Client object gives around 30-40 MB memory usage, just tested. I've created an offline client and added 5000 transactions to it, memory usage goes up to only 55 MB. A test budget with around 800 total entities, only 40-50 MB. what's taking you to hundreds of MB, this is weird..

[2017-04-26 05:14] rossdargan commented on #10
I had to restart my docker image to get a transaction in this morning. The log isn't that helpful:

DEBUG:settings:webhook type received transaction.created
DEBUG:settings:syncing
DEBUG:pynYNAB.Client:Client.sync
DEBUG:pynYNAB.connection:syncCatalogData  ... {'request_data': '{"user_id": "f60d1795-3c35-4c28-bbd0-3c4af9e62fe8", "changed_entities": {}, "device_knowledge_of_server": 521398338, "endin

[2017-04-26 05:56] rossdargan opened #11 "Split the webhook code apart"
I think we should move everything out of the flask code and have a separate monzo object. Currently it's really hard to test without spinning up flask. Ideally we should be able to just pass a JSON object into a class without needing the web server.

A post 1.0 thing though!

[2017-04-26 05:57] rossdargan opened #12 "Match data from previous transcation"
Just a heads up on what I'm working on adding now.

When we get a new transaction I now look for a previous transaction for this payee, and get the category set, and the payee actually used (some people tidy up the names of the payees).

Are you happy for me to sneak this in before 1.0?

[2017-04-26 08:58] scottrobertson commented on #12
Yeah, that is a good idea. Auto filling the category based on the previous transaction will work really nicely.

[2017-04-26 09:15] scottrobertson commented on #11
Agreed. The Flask code should be tiny :)

[2017-04-26 10:03] rossdargan commented on #12
resolved with check in 484f4e81f11afc518f7ad46139c7f026b9cdbea2

[2017-04-26 10:04] #12 closed

[2017-04-26 10:06] scottrobertson commented on #12
@rossdargan with big changes like that, we should really still use branches and PR them in so that we can test.

[2017-04-26 10:08] rossdargan commented on #12
Fair point - to be honest it's more my lack of familiarity with git that's caused it.

[2017-04-26 10:09] scottrobertson commented on #12
No worries. Just for future note :) not all changes need a new branch, just bigger ones like this.

[2017-04-26 12:59] ganey opened #13 "Web process failed to bind to $PORT on Heroku"
I'm getting this port bind error when deploying to Heroku.

Previously I was just updating a manual heroku deploy, but also getting this error when using the readme Heroku deploy button.

[code]

[2017-04-26 13:03] scottrobertson commented on #13
@ganey how many transactions do you have in YNAB out of interest?

[2017-04-26 13:09] ganey commented on #13
1027, my budget only goes back as far as 09/Sept/2016

My Monzo account in YNAB has around 120 transactions

I have 14 'Budget' Accounts , 1 Tracking/Savings account and 4 'Closed' accounts setup in YNAB if they make any difference at all.

[2017-04-26 13:20] ganey commented on #13
It's not happy with os in main.py, does it need an `import os` or something in main.py?

[code]

[2017-04-26 13:24] scottrobertson commented on #13
Oh woops sorry. Pushed a fix.

So the problem is, heroku only gives us 60 seconds to boot, and we sync with YNAB on boot.

[2017-04-26 13:38] ganey commented on #13
Thanks!

It seems to be booting okay now `heroku[web.1]: State changed from starting to up`

Not sure how long the sync takes overall though.

[2017-04-26 14:24] scottrobertson commented on #13
To be honest, i think we are going to just have to introduce optional background jobs. That way we can handle all of the syncing in a background process for larger accounts and it doesnt matter how slow the sync is

[2017-04-26 14:26] scottrobertson opened #14 "Optional Background Processing"
We should allow background processing of webhooks. This will allow us to stop syncing on process boot, and also respond to webhooks much faster. This fixes our issues with timeouts.

We will use celery (or another if anyone has suggestions) + redis

[2017-04-26 15:45] #13 closed

[2017-04-26 20:05] scottrobertson commented on #11
This needs to be done before we can do #14 too

[2017-04-27 12:30] scottrobertson opened #15 "Detailed Instructions"
We should write up some instructions how to deploy this. At least how to deploy to Heroku for example.

[2017-04-27 21:57] scottrobertson commented on #5
Interesting. I dont know much python, so it's very likely that I am doing something stupid in my code :D

[2017-04-30 16:08] jslvtr opened #17 "Set up CI pipeline that runs tests"
Could be interesting to set up a CI to run the tests on commit? Travis CI is free for open source projects.

[2017-04-30 16:08] scottrobertson commented on #17
Just done :)

[2017-04-30 16:08] #17 closed

[2017-04-30 16:08] jslvtr commented on #17
Saw circleci added !

[2017-04-30 16:15] #11 closed

[2017-04-30 16:15] #15 closed

[2017-04-30 16:16] scottrobertson commented on #10
Tagged v0.1 before merging in the PR from @jslvtr

[2017-04-30 16:25] rossdargan opened #18 "Worth adding some sort of secret URL part"
I'm worried it will become really easy to scan for this web hook. It might be worth configuring the URL we listen too to include a configurable pretty shared secret.

Until ynab add a way to sign or encrypt the payload this might be the best we can do.

[2017-04-30 16:26] scottrobertson commented on #18
Agreed. Just a simple query param would be fine

[2017-04-30 16:50] scottrobertson commented on #18
I will get this done 👍

[2017-04-30 17:52] scottrobertson commented on #18
I have added this. We just needs some docs around it now

[2017-04-30 18:18] rossdargan commented on #18
Ha ha you don't hang about do you. Feel guilty just adding it! Nice work though!

[2017-05-01 17:34] scottrobertson opened #19 "Handle YNAB failure + Duplicate transaction case"
The following just happened:

- Webhook came in
- YNAB raised Rate Limit error*
- Monzo sent the webhook again
- We returned "duplicate"

This happened because we pushed the transaction into be_transactions, but then didnt end up syncing it with YNAB. Not sure what the best course of action is here.

*it's low at the moment as they have a huge bug in the mobile apps that were killing the DB.

[2017-05-04 11:50] rienafairefr commented on #19
Is this something that I can fix on my side ? I guess YNAB sent us a request_throttled error, then the library retries after the delay that the server sent, more or less indefinitely

[2017-05-04 11:53] scottrobertson commented on #19
@rienafairefr i am not sure. Based on my understanding, the following would happen right now:

 - We receive the webhook
 - Adds to be_transactions
 - Sync fails
 - Webhook retires
 - Duplicate

But then:

 - Another transaction comes in
 - Sync happens
 - Both transactions are synced

The issue arises when a deployment happens between the 2 transactions as the be_transactions will be reset, and t

[2017-05-04 12:22] rienafairefr commented on #5
Just so you know, in the most recent update 0.5.2 of the library I've added a possibility to do selective sync. Instead of using client.sync, you can do:

    client.sync(['be_payees'])

It's still a beta test maybe it doesnt work very well, but normally with that then the client only contains the payees without the overhead of all the user data. This might help for this issue, and maybe the other

[2017-05-04 12:30] scottrobertson commented on #5
Oh nice :)

I think we will still do the full sync though each time as we want the latest transactions so we can take the category from them to auto fill that.

[2017-05-06 13:29] scottrobertson opened #20 "Some transactions being added without a payee"
Some transactions are appearing in YNAB without a payee. Although the payee is being shown in in the logs

[2017-05-06 13:29] scottrobertson commented on #20
I will try and replicate

[2017-05-09 14:20] rossdargan opened #21 "The healthcheck is currently broken for docker"
The healthcheck is currently broken for docker - I suspect because we will now be getting a 302 probably for /

This is how we currently do the check... but it's not great:
HEALTHCHECK CMD curl --fail http://localhost:5000/ || exit 1

Maybe we could add a proper healthcheck endpoint... If we knew we were getting errors with the sync it would be good to be able to report it here.

[2017-05-09 19:06] scottrobertson commented on #21
Hmm. `curl --fail http://localhost:5000/ || exit 1` returns totally fine for me though when running the app.

How are you running the health check manually?

[2017-05-09 19:08] #21 closed

[2017-05-09 20:33] scottrobertson opened #22 "We need a new name"
I am adding Starling support, so... we need a new name. Suggestions?

[2017-05-09 20:41] Stephan5 commented on #22
Hmmm... how about.. `starling-to-ynab` ? ;)

[2017-05-09 20:41] scottrobertson commented on #22
:D

[2017-05-09 20:42] ganey commented on #22
You're always one step ahead haha! I was going to start on that this week, got my Starling account today.

Maybe fintech-to-ynab or something? Finlink? I'm no good with names :(

[2017-05-09 20:43] ganey commented on #22
Are you thinking separate repo or the same one handling Monzo and starling?

[2017-05-09 20:45] scottrobertson commented on #22
We can just keep it all in 1. Most of the code can be shared (for actually pushing to YNAB). Formatting the webhooks from the various banks is pretty simple.

The Starling support is actually already in and working, but getting webhooks working is a bit tricky (requires submitting a client for approval etc) but they have added [this](https://trello.com/b/wp8bOZPL/starling-developers-roadmap) to Tr

[2017-05-09 20:53] ganey commented on #22
Ok sure was just checking.

Ah thanks, I've been away so haven't been keeping up with what's going on. Which reminds me, I need to go catch up on what's going on with Tandem

[2017-05-11 18:11] scottrobertson commented on #22
@rossdargan any ideas?

[2017-05-11 19:43] rossdargan commented on #22
bloody hell, naming stuff is the hardest part :)

bank-to-ynab
bank it for ynab
web hook importer for ynab - whify

[2017-05-13 10:48] Stephan5 commented on #22
I like fintech-to-ynab the most 👍

[2017-05-14 07:56] #20 closed

[2017-05-14 07:56] #22 closed

[2017-05-14 08:04] scottrobertson opened #23 "Waiting for Personal Starling Webhooks"
To allow Starling to work easily, we need them to support Personal Webhooks. Righy now we need to create clients and I don't see them being approved very quickly/at all, which makes this project super difficult to use. It will apparently be worked on soon 👍

https://trello.com/c/rviKbwNQ/47-personal-access-webhooks

[2017-05-14 09:50] Stephan5 commented on #23
They are coming very soon, promise 👍

[2017-05-29 22:45] KMayne opened #24 "WrongPushException"
I got the following error on the first push to YNAB
[code]

[2017-06-10 15:56] rossdargan opened #25 "'entities_payee_id' referenced before assignment"
Just logging this to make sure I don't forget about it

ERROR:Fintech to YNAB:Exception on /monzo [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python2.7/site-packages/flask/app.py", line 1477, in full_dispatch_request
    rv = self.handle_user_excepti

[2017-06-10 15:57] rossdargan commented on #25
This was the payload:

{"type":"transaction.created","data":{"id":"tx_00009LEJq5fRaGxbcpKrAn","created":"2017-06-07T11:34:53.15Z","description":"Top up","amount":10000,"currency":"GBP","merchant":null,"notes":"","metadata":{"is_topup":"true","stripe_card_last_four":"7906","stripe_charge_id":"ch_1ASOubGFdNCyIQQUxqTEUTqU"},"account_balance":11952,"attachments":[],"category":"mondo","is_load":true,"s

[2017-06-11 20:39] dafyddj opened #26 "Duplicate transaction"
Hi,

I'm trying to get this to work with Monzo, but all my transactions are detected as duplicates. The only logging I see is:
[code]
I don't know if this is related to #19? Any ideas?

[2017-06-12 08:32] rossdargan commented on #26
Are you using something like postman to post these results, or are you actually purchasing things?

[2017-06-12 08:40] rossdargan commented on #18
I've confirmed this now works fine, and the docs you have added cover it's use just fine (https://github.com/scottrobertson/fintech-to-ynab/wiki/Getting-Started#url-secret)

[2017-06-12 08:40] #18 closed

[2017-06-12 09:57] dafyddj commented on #26
These are actual purchases. I've just checked though, and it appears a top-up transaction has gone through.

[2017-06-12 10:01] rossdargan commented on #26
The code duplication looks for transactions with the following:
Same Amount on the same date for the same payee.

Are there similar transactions for Tesco on the same day?

[2017-06-12 10:03] dafyddj commented on #26
No, I've mostly had one transaction a day, and this message appears for all of them.

[2017-06-12 10:06] rossdargan commented on #26
Is there anything else in the log?

[2017-06-12 15:52] dafyddj commented on #26
Sorry, I didn't realise there was more logging than I included above. The full log for the latest transaction is [here](https://gist.github.com/dafyddj/6d5114635a4ea1200dfe2470c7227bfb).

The salient bit seems to be:
[code]

[2017-06-12 15:55] rossdargan commented on #26
It looks to me like two calls are being made at once. Can you check the webhooks in monzo and see if you have added the webhook twice please.

[2017-06-12 15:57] rossdargan commented on #26
Never mind, checked the logs again and it doesn't appear like two calls are being made.

[2017-06-12 16:00] rossdargan commented on #26
Ok. The issue here is for some reason we are back to getting WrongPushException when we add payees. I'll test with some dummy data and see if I can recreate. The duplicate detection is causing an issue because in our un-synchronised copy we do have the transaction added (it just never get's send to ynab).

[2017-06-12 16:00] rossdargan commented on #26
Looks connected to #24

[2017-06-12 16:03] rossdargan commented on #19
It looks like this is not the same issue as #26, however the failure results in the duplicate.

I think after a failure we need to kill the local copy of the ynab service somehow... if we could somehow re-load it in the background we would be golden...

What does heroku do if the app service dies? If it restarts it then maybe it's best to let the app die in the short term?!

[2017-06-12 16:21] ganey opened #27 "Failed Monzo Transactions"
Today I accidentally tried to pay for something with my Monzo card, but didn't have enough balance, so caused a failed transaction, as expected.

It did however still fire a webhook, hit my Heroku box, create an entry in YNAB, and mark it as cleared.

I'll try and re-simulate one with more logging, although it may just be that I'm on an outdated copy of this repo as I haven't re-deployed for a few

[2017-06-13 12:23] ganey commented on #26
Also just had this issue today for a new payee.

Wondering if the transaction is only synced in the local copy after being successfully sent to YNAB?
It might improve the false duplication detection, but I'm not sure on what the implications might be.

[2017-06-14 14:17] rossdargan commented on #27
to be honest one of the best things you can do is capture the webhook using https://requestb.in.

This way we can see what the call looks like.

Maybe we need an enhanced logging mode the spits out the data received from the webhook call as is?

[2017-06-14 14:20] rossdargan commented on #26
I'm thinking there is an issue with adding new payees. I'll look into it when I get a second.

[2017-06-19 20:03] #25 closed

[2017-06-19 20:05] scottrobertson commented on #27
This seems like an issue on Monzo's end. They should not be firing `transaction.created` webhooks for failed transactions.

[2017-06-19 20:05] #27 closed

[2017-06-19 20:07] scottrobertson commented on #26
I have added full request body logging so that we can easily debug these.

[2017-06-19 20:13] rossdargan commented on #26
@scottrobertson I've confirmed this issue. Adding a new payee causes WrongPushException.

[2017-06-19 20:17] rossdargan commented on #27
If this isn't temporary we can filter these transactions out via the property "include_in_spending" Managed to find one in my logs, but I can't tell if it got transaction.created. Possibly worth adding this filter anyway...

[2017-06-19 20:18] scottrobertson commented on #26
@rossdargan can you try it again after the latest commits i just pushed

[2017-06-19 20:22] rossdargan commented on #26
@scottrobertson yup... confirmed fixed :)

[2017-06-19 20:22] #26 closed

[2017-06-19 20:22] scottrobertson commented on #26
Awesome!

[2017-06-19 20:27] scottrobertson commented on #24
@rossdargan i suspect those commits fixed this too, right?

[2017-06-19 20:31] rossdargan commented on #24
Agreed. Lets close it - if it's something new we can re-add it.

[2017-06-19 20:31] #24 closed

[2017-06-22 15:56] marxr88 opened #28 "Issue deploying to Heroku"
Trying to deploy to Heroku and it fails with:

[code]

[2017-06-22 15:57] scottrobertson commented on #28
Are you deploying with the "Deploy to Heroku" button, or another way?

[2017-06-22 15:58] scottrobertson commented on #23
I think we may need to just remove Starling from the README for now until this is done. I suspect it will be a while as they have a lot of their plates.

[2017-06-22 15:58] marxr88 commented on #28
Deploy to Heroku button

[2017-06-22 16:07] scottrobertson commented on #28
This seems like an issue with Heroku. Based on the docs, their default python version if `2.7.12`. However, I can see that it's installing this with `3.6.1`

[2017-06-22 16:14] scottrobertson commented on #28
I have locked the version manually, so this should be sorted now!

[2017-06-22 16:14] #28 closed

[2017-06-28 09:19] scottrobertson opened #30 "CI Failing"
Hey @rienafairefr. After merging your branch, CI is failing

https://circleci.com/gh/scottrobertson/fintech-to-ynab/32

[2017-06-28 09:26] rienafairefr commented on #30
ah, mybad, I had added mock module for the tests, in my `requirements.txt` but it wasnt in the `testable `branch`

[2017-06-28 09:30] scottrobertson commented on #30
No problem :) do you want to PR it in, or should i add it? If so, what am i adding?

[2017-06-28 09:31] rienafairefr commented on #30
just sent a PR that adds it, should solve the issue

[2017-06-28 09:38] scottrobertson commented on #30
@rienafairefr awesome thanks.

I fixed a couple of the tests (due to the new data dict) but a few in test_app are still failing.

[2017-06-28 09:49] rienafairefr commented on #30
I see the problem. Send you a pr in a sec

[2017-06-28 10:02] scottrobertson commented on #30
Last one:

[code]

[2017-06-28 10:06] rienafairefr commented on #30
I think it's the URL_SECRET environment variable that doesnt exist in CI ?

[2017-06-28 10:07] rienafairefr commented on #30
I can reproduce locally if I remove URL_SECRET=[...] from my .env

[2017-07-15 19:21] rienafairefr opened #35 "double init ?"
ynab_client init() is called in the __main__ function, and also here anytime the webhook is called,

https://github.com/scottrobertson/fintech-to-ynab/blob/master/python/routes.py#L39

Either we init and for every webhook call (then the __main__ call is not needed), or we init only once when the app is created, in __main__ (then the call for each route is not needed)  ?

[2017-07-15 20:18] scottrobertson commented on #35
It should just be calling sync on at the start of each webhook.

[2017-07-19 00:22] scottrobertson opened #36 "Remove auto category"
Now that YNAB have payee management with auto categorising, i think we can get rid of all our logic:

http://docs.youneedabudget.com/article/611-payee-management

[2017-07-19 13:43] dafyddj opened #37 ""App crashed""
Since the previous issue I raised, the app has not been working for me at all.
Every command, even ping, fails with `at=error code=H10 desc="App crashed"`.

Is noone else seeing this? I've even re-deployed to Heroku.

Any ideas?

[2017-07-20 10:35] rienafairefr commented on #36
It depends how they do it in the web app. If the logic is on the client then send payee/categories to the api, then we still need to do the logic. But we might have some luck (like, push a transaction with a given payee, and get a return with an automatic category), but I wouldnt bet on it :-/

[2017-07-20 10:39] rienafairefr opened #38 "init_session ?"
Reading a discussion on calling init_session in pynYNAB repo [here](https://github.com/rienafairefr/pynYNAB/pull/50#issuecomment-316663591), I can reckon that in fintech-to-ynab there is no call to init_session, I'm dumbfounded why it seems to work then ? I'm missing something.

[2017-07-20 15:26] scottrobertson commented on #36
I suspect it needs to be server side as if it didn't work with auto
imports, people would be annoyed. Will test.

On 20 Jul 2017 03:35, "rienafairefr" <notifications@github.com> wrote:

It depends how they do it in the web app. If the logic is on the client
then send payee/categories to the api, then we still need to do the logic.
But we might have some luck (like, push a transaction with a given

[2017-08-11 20:39] philtate commented on #23
It looks like Starling now has webhooks.

[2017-08-11 20:55] scottrobertson commented on #23
@philtate they have webhooks, but only via oAuth, which you need to submit for approval etc. Sadly that makes them unusable. We are still waiting on personal webhooks (similar to access tokens vs client/secret key)

[2017-08-11 21:37] philtate commented on #23
Doh! That's a shame. It's the integration I'm looking for as I miss a Starling import to YNAB.

[2017-08-11 21:38] scottrobertson commented on #23
@philtate for now, https://github.com/scottrobertson/starling-export works well :)

[2017-08-11 21:41] philtate commented on #23
Thanks! I'll give it a go with my very near negative Ruby skills!

[2017-08-23 08:31] ganey opened #40 "Wiki update for current accounts"
For current accounts you need a slightly different query to get your 'account_id' to then use for creating the webhook.

`/accounts?account_type=uk_retail`

So far webhooks from the current account are working as expected 👍

[2017-10-19 09:11] torbengb opened #41 "License? Can "bank2ynab" grab code from you?"
Hi Scott, and greetings from the `bank2ynab` project. I've seen that you have a way to push transactions directly into YNAB, and it would be neat if we could incorporate that into our project, too. But I don't see a license in your project, so I am asking you explicitly for permission. (Also, maybe you should add a license?)

Kind regards from Austria!
 - Ben

[2017-10-19 09:13] scottrobertson commented on #41
Hey @torbengb. You will need to ask over at https://github.com/rienafairefr/pynYNAB 👍

[2017-10-19 09:13] #41 closed

[2018-01-03 17:27] allistera commented on #23
Does this project support Starling yet? I came here from their developer-resources project and managed to get Monzo integration working perfectly although judging from the Wiki it isn't compatible with Starling. If not should the `readme.md` not be updated to clear this up?

Thanks!

[2018-01-03 17:29] scottrobertson commented on #23
@allistera not yet. Waiting for Starling. Feel free to PR a readme change if you like 👍

[2018-01-03 17:34] allistera commented on #23
Awesome thanks for the update Scott, PR here https://github.com/scottrobertson/fintech-to-ynab/pull/43

[2018-01-03 18:02] scottrobertson commented on #23
Thanks @allistera. Merged.

Any updates @Stephan5?

[2018-01-06 07:17] cawilliamson opened #44 "Transaction changes not applied in YNAB"
I'm not sure if this is something you can actually fix at your end but when I pay at the pump for fuel the price is always £1 for a day or so and then the transaction is adjusted to the actual amount.

This is not reflected in YNAB sadly since it doesn't seem to create another transaction so YNAB only shows £1 instead of £45 which the transaction actually was.

[2018-01-06 09:52] scottrobertson commented on #44
Part of the problem is that Monzo do not send any sort of notification for updated transactions.

[2018-01-06 17:18] ganey commented on #44
Is 'update webhooks' already raised with Monzo?

There can also be small differences in price when paying in a different
currency. AWS charge me in USD which by the time it clears in Monzo the
amount can change by a few pence.

On Sat, 6 Jan 2018, 09:53 Scott Robertson, <notifications@github.com> wrote:

[2018-01-06 17:21] scottrobertson commented on #44
They are not really making any changes to the API just now. They already plan to add it though.

[2018-01-30 15:13] scottrobertson opened #45 "YNAB API Rewrite"
I have created a project for this https://github.com/scottrobertson/fintech-to-ynab/projects/1

This ticket will be left open for discussions.

[2018-01-30 15:18] scottrobertson commented on #40
I dont think this is needed now.

[2018-01-30 15:18] #40 closed

[2018-01-30 15:18] #44 closed

[2018-01-30 15:20] scottrobertson opened #46 "Budget selector"
We need a way for people to select the budget_id they want to use.

By default, we will just use the first budget. This will be fine for most people.

[2018-01-30 15:21] scottrobertson opened #47 "Account selector"
Similar to #46, we will select the first account, and allow them to override this if needed.

[2018-01-30 15:29] ganey commented on #45
Any reason you haven't gone for the JS library, or are you more comfortable with Ruby? https://api.youneedabudget.com/#client-javascript

[2018-01-30 15:30] scottrobertson commented on #45
@ganey purely just more comfortable with Ruby as it's what i work with every day.

[2018-01-30 20:10] scottrobertson opened #48 "Flags for non GBP transactions (waiting on YNAB support)"
Waiting for YNAB to add support

- [x] Add to Webhooks
- [x] Add to Import

[2018-01-30 20:13] #47 closed

[2018-01-30 20:13] #46 closed

[2018-01-30 20:19] scottrobertson commented on #45
Closing in favour of #49

[2018-01-30 20:19] #45 closed

[2018-01-31 12:33] #35 closed

[2018-01-31 12:34] #19 closed

[2018-01-31 12:34] #14 closed

[2018-01-31 12:34] #10 closed

[2018-01-31 12:34] #5 closed

[2018-01-31 12:34] #37 closed

[2018-01-31 12:34] #38 closed

[2018-01-31 12:35] #30 closed

[2018-02-01 01:05] scottrobertson commented on #36
This can now be removed once YNAB support this in the new API. This should be done by next week.

[2018-02-01 01:05] scottrobertson opened #50 "Remove payee lookup"
Once YNAB support passing in `payee_name`, we can remove all our logic around payee lookups. This should happen mid next week.

[2018-02-01 01:06] scottrobertson commented on #23
I have pushed a Starling import script. This allows us to import Starling, but not in real-time.

https://github.com/scottrobertson/fintech-to-ynab/wiki/import:-Starling-Bank

[2018-02-01 01:29] scottrobertson opened #51 "CSV Imports"
Add a generic CSV importer

[2018-02-01 01:30] scottrobertson commented on #50
Right now this is kind of messed up as if the payee does not exist, it just creates the transaction with no payee at all.

[2018-02-01 08:05] rienafairefr commented on #36
This issue notified me about some changes and the YNAB API is live, I hadnt seen it before. I see they provide a swagger spec, it's super great, that'll permit generation of a client library in Python in a matter of days :-) 👍

[2018-02-01 09:16] scottrobertson commented on #36
Yeah it's pretty great. Private beta for now, but it should be available to everyone soon :)

[2018-02-01 16:44] scottrobertson commented on #23
Gonna just close this. I have removed references to Starling webhooks for now until they add support.

[2018-02-01 16:48] allistera commented on #23
I guess the only possible option would be to pull rather than push. Although would require a lot of rearchitecting the project for a 'supposedly' temporary solution. Agree with your decision to remove them until support is provided :)

[2018-02-01 16:49] scottrobertson commented on #23
@allistera Pull is already implemented :) https://github.com/scottrobertson/fintech-to-ynab/wiki/import:-Starling-Bank

[2018-02-07 21:24] scottrobertson commented on #50
This has been removed now. All we need to do now is pass payee_name to the create endpoint and it handles the creation if needed.

[2018-02-07 21:24] #50 closed

[2018-02-07 21:24] scottrobertson commented on #50
Keeping the payee_id lookup around for duplicate detection for now until the import_id stuff is implemented.

[2018-02-07 21:24] scottrobertson commented on #36
This is now handled by YNAB via the API.

[2018-02-07 21:24] #36 closed

[2018-02-07 21:34] #48 closed

[2018-02-07 21:34] scottrobertson commented on #48
Support for flags with Monzo webhooks and Imports has been added

[2018-02-07 22:07] scottrobertson opened #52 "Monzo Feed Items"
Post monzo feed items with YNAB category balance after webhooks.

[2018-02-16 19:30] #51 closed

[2018-03-04 14:35] rossdargan opened #53 "Use the teller.io API to get direct debits/standing orders"
This could be used to set up and maintain scheduled payments in ynab :)

[2018-03-04 18:20] scottrobertson opened #54 "Use the same import_id for Monzo webhooks and Imports"
This is pretty easy for the most part, except when there are multiple transactions of the same amount on the same day, from the same merchant.

We use the format for CSV's at the moment, which we could reuse

[code]

To get the `occurrence`, we will need to fetch all transactions for that day (for that account), and work it out based on that. Given the limited scope of that call, it should be rath

[2018-03-04 23:02] scottrobertson commented on #54
Implemented this... it did require me using different import ids for all imports now, so people will get duplicates, but it had to happen!

[2018-03-04 23:02] #54 closed

[2018-03-04 23:02] scottrobertson commented on #54
Now all imports and webhooks use a consistent import id though, so it's much better going forward.

[2018-03-05 20:04] ganey opened #55 "Declined transactions still imported"
Declined transactions still fire a webhook so the Monzo transactions are still being imported

[2018-03-05 20:05] scottrobertson commented on #55
Just to confirm, is this on v1 or v2?

[2018-03-05 20:08] #55 closed

[2018-03-05 20:08] scottrobertson opened #56 "Tests"
Write some

[2018-03-05 20:13] ganey commented on #55
V2 I deployed around 12 days ago

[2018-03-05 20:18] scottrobertson commented on #55
Should be fixed now

[2018-03-05 20:18] ganey commented on #55
Awesome thanks!

[2018-03-14 22:59] scottrobertson opened #57 "Import ID too long"
There is a limit on the import ID, so we are going to have to shorten the prefix as it breaks when we have larger integers.

This will result in duplicates being created, but it needs to be done. Once things are a lot more solid, and the API is out of beta, we will tag 1.0.0, follow semver and stop any breaking changes happening as much as possible.

[2018-03-30 23:37] crt434 opened #58 "Business banking accounts"
@scottrobertson really cool project :) will it work with barclays business bank accounts the import process? I'm really keen to match up. Plus how far back would the data be able to go? Could I for instance add into YNAB previous spending dating back few months?

[2018-03-30 23:40] scottrobertson commented on #58
Hey

It works with Barclays business, yes :)

And you should be able to go back all the way to the start of your account.

On Sat, 31 Mar 2018, 00:37 Crt343, <notifications@github.com> wrote:

[2018-03-30 23:42] crt434 commented on #58
That was quick :) Cool will close this out. And no doubt come back with more ideas for cool stuff to add, really cool project. Wish banks already did this stuff as standard

[2018-03-30 23:42] #58 closed

[2018-04-03 13:09] n0k5 opened #59 "Troubleshooting"
I've set this up with Monzo -> YNAB to the best of my ability, using the Monzo and YNAB API respectively. I've set my `YNAB_ACCESS_TOKEN` and my `YNAB_ACCOUNT_ID` in the config vars, running on Heroku. It seems to be all set up correctly, but when I spend on my Monzo card nothing actually gets pushed to my YNAB account.

Am I missing something? Is there something I could share to help troubleshoot

[2018-04-03 13:11] scottrobertson commented on #59
Hey

- Could you paste the logs in here?
- Did you setup the Monzo webhook?
- Do you an old prepaid account, or just a current account?

[2018-04-03 13:20] n0k5 commented on #59
No problem:

[code]

The [Monzo webhook](https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/import:-Monzo#webhooks) has been setup. I just checked it again to confirm, and listing the webhooks brings it up with the correct URL (including /monzo at the end).

I'm using the newer current account after recently (a week ago+) upgrading.

[2018-04-03 13:25] scottrobertson commented on #59
And webhook is using the correct account t_id? There will be 2. You need the uk_retail one.

[2018-04-03 13:36] n0k5 commented on #59
Ahh — this might be the issue. I remember leaving the `account_id` as `"account_id": "$account_id",` instead of manually changing it. I just checked and the one registered on the webhook is the wrong account... 🤦🏻‍♂️

I've updated the webhook on Monzo now. Is there a way of testing to see if it's working, or do I just need to spend on my card and see if it comes through?

[2018-04-03 14:33] n0k5 commented on #59
@ganey that worked, thanks.

I can confirm this is working now. My problem was the Monzo account ID defaulted to my closed account rather than my open one but wasn't immediately obvious. The solution was to list my accounts on the Monzo API, and grab the account ID from there instead.

[2018-04-03 14:33] #59 closed

[2018-04-03 14:35] scottrobertson commented on #59
Awesome! Added a note to the wiki too https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Import:-Monzo

[2018-04-26 10:28] bmillington opened #60 "Difficulty with webhook auto import"
Hey Scott.

I am struggling to get the Monzo auto import working.

I can run `Import::Monzo.new(monzo_access_token, monzo_account_id, ynab_account_id).import` which works (from local and Heroku), the webhook is created Monzo side but I get nothing in YNAB when I complete transactions in Monzo. Cant seem to find logs anywhere either?

Any pointers? This code will be amazing if I can get it working!

[2018-04-26 10:33] scottrobertson commented on #60
Did you create the webhook with the correct account id? It uses the prepaid
account id by default.

On Thu, 26 Apr 2018, 11:28 bmillington, <notifications@github.com> wrote:

[2018-04-26 10:59] bmillington commented on #60
I hadn't, but I just tried that and still no luck.

I have also tried defining the optional variables with no luck either.

I am right in thinking that it should be automatic, right? They don't queue and need the import manually running each time?

[2018-04-26 11:01] scottrobertson commented on #60
They will send the webhooks to the URL you defined when you make a transaction

[2018-04-26 11:03] bmillington commented on #60
Which was the Heroku URL. What I mean is that do they then get stored somewhere, queued up, and then you need to manually import from Ruby to push them into YNAB or should it be automatic?

[2018-04-26 11:09] scottrobertson commented on #60
Ah, no they get pushed in instantly.

[2018-04-26 11:12] bmillington commented on #60
I figured they would, I just thought I would eliminate user error!

Any other ideas? Does it log incoming requests anywhere? I tried to look but cant see anything obvious any know nothing about Ruby!

[2018-04-26 11:12] scottrobertson commented on #60
If you are tailing the heroku logs, you would see the requests coming in.

How are you triggering the transactions?

[2018-04-26 11:25] bmillington commented on #60
Ah ok, so I think I have the issue. The requests are indeed coming in and processing, it connects to YNAB and gets the following back:

`ArgumentError (invalid value for 'type', must be one of ["checking", "savings", "creditCard", "cash", "otherAsset", "investmentAccount"].):`

[2018-04-26 11:26] bmillington commented on #60
I am transferring back and forth between Starling and Monzo

[2018-04-26 11:27] scottrobertson commented on #60
Hmm ok. Sounds like YNAB have account types that are not present in the API specs, this has happened before. I don't have time to debug right now, but i will follow up with some questions as soon as i can.

[2018-04-26 11:29] bmillington commented on #60
Sure no problem, thanks Scott.

[2018-04-26 16:48] bmillington commented on #60
I found the bug you raised on the ynab SDK which was fixed but your latest fork of it was just before the fix.

I forked your repo and switched to upstream which resolved the issue. Hope that saves you troubleshooting 😃

[2018-04-28 18:41] scottrobertson commented on #60
Ah, forgot i still had this on my fork. Will sort that!

[2018-04-28 18:42] #60 closed

[2018-05-23 14:53] adambowles commented on #23
Looks like they're here: https://developer.starlingbank.com/personal/list

[2018-05-23 20:47] crt434 opened #62 "N00b question"
Import::Monzo.new(monzo_access_token, monzo_account_id, ynab_account_id).import

where am I meant to run this? through heroku console? or something else. Sorry as I know this will be a stupid question @scottrobertson

[2018-05-23 21:09] scottrobertson commented on #62
Not a stupid questions, the docs naively assume an understanding of Rails.

You would login to the heroku console, run `rails c` to get into a Rails console, and then you can run the commands from there.

[2018-05-23 21:28] scottrobertson commented on #62
Oh i have never used the web browser one... sorry i am not sure how to solve that. I recommend the CLI tool.

[2018-05-23 21:31] scottrobertson commented on #23
If anyone wants to take this, feel free. I wont have time this week, and I am away the week after. Just needs support adding to https://github.com/fintech-to-ynab/fintech-to-ynab/blob/master/app/controllers/starling_controller.rb similar to https://github.com/fintech-to-ynab/fintech-to-ynab/blob/master/app/controllers/monzo_controller.rb

[2018-05-24 09:08] crt434 commented on #62
Ok i brew installed heroku. And I have a copy of your app in my heroku account. What commands do I issue from cli in order to run that import command? as I'm struggling how to even get 'into' the instance :)

[2018-05-24 14:06] scottrobertson commented on #62
`heroku run -a APP_NAME rails c` will get you into a rails console

[2018-05-25 13:53] adambowles opened #63 "Will skipping of emoji and tags return?"
I updated to the YNAB API version this week and transactions have emoji and hashtags in the memo, where I had opted out of them in v1.

[2018-05-25 13:54] scottrobertson commented on #63
@adambowles i removed them in v2 as i wanted to keep things simple. Feel free to submit a PR if you need them :)

[2018-05-25 14:07] adambowles commented on #63
Roger, I'll have a look

[2018-05-26 19:15] #23 closed

[2018-05-26 19:15] scottrobertson commented on #23
Added some basic support. It's missing some event types, but we can add them as we find them. Have asked Starling for a list.

Docs updated: https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/import:-Starling-Bank

[2018-05-26 19:16] scottrobertson opened #65 "Add all Starling Webhook Types"
We need to support all the starling webhook types as we find them.

[2018-06-04 18:34] wabit opened #66 "monzo to ynab issues"
I am having some issues getting this to work with my Monzo account.

when I try to run the import I am getting to following error:

`NameError: undefined local variable or method `monzo_access_token' for main:Object
`
I am very likely missing something as the instructions are not very clear.

Any help would be great

[2018-06-15 22:55] scottrobertson commented on #66
Hey

`monzo_access_token` is a variable you need to assign.

[code]

[2018-06-15 22:55] #66 closed

[2018-06-16 12:15] wabit commented on #66
i have it assigned along with the rest of them
<img width="621" alt="vars" src="https://user-images.githubusercontent.com/3354647/41498498-5c98e3dc-7167-11e8-96db-43685f2de7a1.png">

[2018-06-16 12:17] scottrobertson commented on #66
Those are environment variables for the webhook setup, not the one off import scripts. You need to assign them like above for the one off import scripts.

[2018-06-16 13:19] wabit commented on #66
That makes more sense thanks seems to be working. I am struggling to get the webhook to work though is there a way of testing it without spending any money?

[2018-07-04 17:11] rndthoughts opened #67 "Transaction State"
Ive setup per instructions but i dont seem to get transactions added to ynab even though i verified the keys used and import works. Do pending transactions get sent immediately i make payment or do they have to clear?  Is there any POST json i can use to test the ynab insert works?

[2018-07-04 17:13] scottrobertson commented on #67
Which bank are you using? Are you referring to webhooks, or historical imports?

[2018-07-04 17:15] rndthoughts commented on #67
Sorry should have been clearer! Using starling. I can run the import command and it pushes transactions to ynab. But when i make a purchase nothing happens.

[2018-07-04 17:16] scottrobertson commented on #67
Just to confirm, have you setup the app on Heroku/Similar, and have you added the URL to Starling's dev dashboard?

[2018-07-04 17:20] rndthoughts commented on #67
Yes i used the Heroku install button.  On Starling, I wasn't sure which actions to check as it's not in the getting started guid on here but I have:

Direct Debit,  Interest Payment,  Faster Payment Out,  Internal Transfer, Interest Charge,  Interest Waived Deposit,  Card,  Faster Payment Reversal,  Faster Payment In,  Mobile Wallet,  Direct Credit,  Cash Withdrawal

Payload URL points to: https:/

[2018-07-04 17:21] rndthoughts commented on #67
I've just noticed there is a "Production Secret" option as well?

[2018-07-04 17:22] scottrobertson commented on #67
Does going to `https://nameofmyapp.herokuapp.com/` work? What response do you get from it?

[2018-07-04 17:23] rndthoughts commented on #67
Doing a GET gives me: {"error":"unauthorised"} (401)

[2018-07-05 08:38] #65 closed

[2018-07-05 08:39] rndthoughts commented on #67
OK I think I know what it is - I am using Apply Pay which sets the webhook type in the json as "TRANSACTION_MOBILE_WALLET"

[2018-07-05 08:39] scottrobertson commented on #67
This was caused by https://github.com/fintech-to-ynab/fintech-to-ynab/issues/65

[2018-07-05 08:39] #67 closed

[2018-07-05 08:39] scottrobertson commented on #67
@rndthoughts ha yes. Just pushed a fix, and emailed you :)

[2018-07-05 08:39] rndthoughts commented on #67
If i restart my heroku dyno will it pull the new code?

[2018-07-05 08:40] scottrobertson commented on #67
Errr, you will need to tell it to redeploy. Let me get the steps.

[2018-07-05 08:40] scottrobertson commented on #67
Ah, just click the app, then the deploy tab. You should be able to do it from there.

[2018-07-05 08:40] rndthoughts commented on #67
Not sure how I try again without a new purchase?  If I resubmit the json, I’m guessing i'll need some headers set?

[2018-07-05 08:43] scottrobertson commented on #67
Errmmm, resubmitting the JSON should be totally fine, as long as you have the correct secret set in the url.

[2018-07-05 08:45] rndthoughts commented on #67
OK so in the deploy tab, I guess i need to connect to github to pull the code from your project.  But I'm only able to see my own projects?

[2018-07-05 08:47] scottrobertson commented on #67
Hmm it should be connected already. Let me set one up again using the button and i will see.

[2018-07-05 08:50] ganey commented on #67
You could just fork the project and then sync changes every once in a while. I think you can even set it so it would auto update the Heroku instance

[2018-07-05 08:51] #63 closed

[2018-07-05 09:02] rndthoughts commented on #67
Yup that got it 👍.  It's now working - thanks for the help guys!

[2018-07-05 09:03] scottrobertson commented on #67
Awesome! Will try and work out a way to make that easier and update the docs if i find a way.

[2018-07-05 11:46] scottrobertson opened #68 "Document how to update app on Heroku"

[2018-07-05 12:50] rndthoughts commented on #68
Do you want me to document how I forked and then set heroku to auto deploy?

[2018-07-05 13:02] scottrobertson commented on #68
I want to try and avoid that if possible as it results in people getting
out of date and complaining when things don't work :D

Will let you know.

On Thu, 5 Jul 2018, 13:50 Steve Whitaker, <notifications@github.com> wrote:

[2018-07-05 14:09] rndthoughts opened #69 "Goal Transactions on Starling"
When i transfer money to my goals in Starling, I dont seem to get a transaction inserted into YNAB.  Is this because webhooks don't support this type of transaction?

[2018-07-05 14:11] scottrobertson commented on #69
@rndthoughts could you get the JSON from the logs and check the "webhookType", and send it over.

[2018-07-05 14:12] scottrobertson commented on #69
Or perhaps they don't send webhooks for those (in which case, we will need to get them to fix it).

[2018-07-05 14:15] rndthoughts commented on #69
Yes that appears to be the issue (no webhooks).  There are no log entries for those types.  I guess because the money doesnt actually enter or exit the account.  However, as far as ynab is concerned I would assume you would want to assign them to ynab goals?

[2018-07-05 14:16] scottrobertson commented on #69
Yeah that makes sense.

I think as far as YNAB is concerned, it wouldn't care as the money is not moving anywhere.

[2018-07-05 14:16] #69 closed

[2018-07-05 14:18] rndthoughts commented on #69
It's a difficult one - your Starling balance actually changes and transactions get inserted on Starling but YNAB knows nothing about them so if you are trying to track that you assigned some cash to a particular goal in YNAB, you'd need to enter it manually.  Considering Starling goals can be recurring, it might be something worth looking at (optionally)?

[2018-07-05 14:20] scottrobertson commented on #69
I am not sure it really makes sense to be honest. Goals in YNAB are not linked to transactions or accounts in anyway. A goal can span multiple accounts for example. Adding a transaction to YNAB would also not change a goal in anyway, as no money is being moved anywhere.

I also don't know how it would even work in YNAB, as it needs a inflow/outflow, so the money would leave the starling account YN

[2018-07-05 14:35] ganey commented on #69
Yeah generally they work out as more effort than it's worth. The YNAB mobile app has a bug with auto tagging transfers correctly, so you have to edit each transaction anyway.

I only added a pot to actually ring fence the money from my main account, but like you said, they are all the same pot as far as YNAB.

[2018-07-07 11:40] feleio opened #70 "support for Lloyds bank?"

[2018-07-07 11:45] feleio opened #71 "How do I let the app know if i have a monzo account in YNAB?"
I already have an account which i manually enter my transaction from monzo. How do I tell the ap about the existing monzo account in YNAB?

[2018-07-07 11:48] feleio commented on #71
Ah I found that there is a account id env var. sorry for the stupid question.

[2018-07-07 11:55] feleio commented on #71
I assume YNAB_ACCOUNT_ID means the account id of Monzo, is it correct? Thanks

[2018-07-07 12:44] rndthoughts commented on #71
No that’s your YNAB account id. You set it to tell the app which account to push your monzo transactions into.

[2018-07-07 17:03] feleio commented on #71
Just finish setting up and it works now. Thanks

[2018-07-07 17:17] scottrobertson commented on #71
Awesome :)

The variable name should really be `MONZO_YNAB_ACCOUNT_ID` or something, but to change it requires a lot of people to change their configs. I will try and sort that out in a bit better way soon.

[2018-07-07 17:19] scottrobertson commented on #70
I don't think there is an API for it available, and teller.io does not support it, so there is not really a way to do it right now.

[2018-07-07 17:19] #70 closed

[2018-07-08 22:17] #71 closed

[2018-07-09 23:09] feleio opened #72 "Duplicated transaction in YNAB starling account"
I have tried to send £1 from monzo to starling account . The transactions appear in YNAB which is really nice but there always be 2 same duplicated transactions in my starling account. I have checked all Webhook Types when i create a webhook in starling developer setting. Can it be the reason?

P.S. I found the duplicated transaction wont come together at the same time. second one always come few

[2018-07-09 23:16] feleio commented on #72
From the log, I was there is 2 POST call to heroku app. they are separated by 2 minutes. the payload of two calls seems identical.

[2018-07-09 23:17] feleio commented on #72
I confirmed that there is only one webhook created

[2018-07-09 23:37] feleio commented on #72
Thanks Ganey. I am getting 2 POST to the same path /starling. but Not sure if they are both from starling.
What do you mean by
[code]
I have also setup the monzo webhook for my YNAB Monzo account. I suppose that one works well as i saw a POST to path /monzo.

I also tested that when someone transfer fund to my starling account . I have the same duplicated transction issue .

Thanks :)

[2018-07-10 07:29] ganey commented on #72
Sometimes YNAB figures out the transfer and will set it up on the other account in YNAB, doesn't seem to be the case here.

Sounds like the issue is definitely with the starling webhook though. I'm not sure what a webhook payload looks like, or if all of them have a similar date field, if they do we could maybe try using the transaction date time as the import_id to stop YNAB inserting duplicates?

[2018-07-10 09:08] rndthoughts commented on #72
I'm getting the same issue.  I notice that the first request has "Client Request Interrupted" on it so may Starling are retrying as they dont get a 200 from Heroku?

https://devcenter.heroku.com/changelog-items/662

[2018-07-10 09:12] ganey commented on #72
It might be that Starling aren't waiting long enough for a response so retrying the webhook?

Does it still trigger twice if two transactions are made close together?
Free dynos on Heroku go to sleep so may not spin up fast enough for the first webhook, it used to be around 30 minutes of inactivity to trigger the sleep state.

[2018-07-10 09:18] scottrobertson commented on #72
I have not had a chance to dig into this yet, but it's worth noting that it's very unlikely the import_id would catch this. Basically, it has to handle the case in which we get multiple transactions of the same value in 1 day, so it cannot count them as duplicate.

[2018-07-10 09:20] scottrobertson commented on #72
From the logs, i cannot see why the interrupted error is coming up. Requests are all completing very quickly.

[2018-07-10 09:21] scottrobertson commented on #72
@rndthoughts is your issue with all transactions, or just faster payments?

[2018-07-10 09:22] rndthoughts commented on #72
@scottrobertson I've only used Apple Pay or my Starling card for my transactions - I'm currently mid bank account switch to Starling so I haven't made any other types of transaction.

[2018-07-10 09:32] scottrobertson opened #73 "Bank Requests"
Please comment here with any banks you would like to be supported. If the bank does not have an API, or a way to automatically get the data, we can add support for their CSV format.

If we find a way to implement the bank, we will create a new seperate ticket for it to track it's implementation.

Please submit your request with the following:

- Name of Bank
- Country of Bank
- Do they have an API

[2018-07-10 09:39] scottrobertson commented on #73
Lloyds Bank (#70)

[2018-07-10 09:47] rndthoughts commented on #73
Name: Nationwide
Country: UK
API: yes - https://www.nationwide.co.uk/developer/getting-started - but not sure how many hoops you need to jump through!
CSV/QIF exports support: Yes

[2018-07-10 09:51] ganey commented on #72
I asked on Starling's Slack for the timeouts and got the following response:

once we have finished sending data over that socket we wait a further 2 seconds for a response

[2018-07-10 09:55] scottrobertson commented on #72
Ok, then that seems like it's the issue. The app can take longer than 2 seconds to boot.

[2018-07-10 09:56] scottrobertson commented on #73
@rndthoughts Nationwide are supported via https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/import:-Teller

[2018-07-10 09:57] rndthoughts commented on #73
Oh great, I had no idea!

[2018-07-10 09:57] scottrobertson commented on #73
@rndthoughts https://github.com/fintech-to-ynab/fintech-to-ynab#banksfinancial-institutions ;)

[2018-07-10 09:58] rndthoughts commented on #73
I guess my confusion was over whether they supported webhooks - but I'm guessing that wasnt mandatory in the open banking spec?

[2018-07-10 10:00] scottrobertson commented on #73
Ah right, no webhooks sadly. Teller don't use any of the open banking stuff either.

[2018-07-10 10:01] rndthoughts commented on #73
... off to fin-tech we go then :)

[2018-07-10 10:02] scottrobertson commented on #73
Using Open banking is unlikely to happen for us, it requires an insane amount of hoops to jump through from what i have seen. I doubt it will ever be suitable for open source without some sort of service inbetween.

[2018-07-10 10:05] rndthoughts commented on #73
Understood. Still it's great to use this project with the fin-techs and YNAB while they are still figuring out how to create their budget controls, so thank you!

[2018-07-10 19:08] thomaspurchas commented on #72
I have just created a PR that should deal with this:
https://github.com/fintech-to-ynab/fintech-to-ynab/pull/74

It does need review because I'm not a ruby developer, and this stuff confuses me a little.

[2018-07-11 12:18] rndthoughts commented on #72
Just did two transactions within 30 mins of each other.  The first one duplicated (it was the first transaction I've made today), the second didn't.  So it's got to be an idle timeout.

[2018-07-11 13:53] scottrobertson commented on #72
Awesome, thank you for confirming. Will have a think of how to deal with this.

[2018-07-19 13:54] scottrobertson opened #75 "Category Balance Notifications"
I had an idea while falling asleep last night.

We should add category balance notifications after transactions have been added. This would basically notify the user with "You have £X left in X category" after a transaction was added to it.

This could be extendable to work with different providers such as:

- Email
- SMS (Twilio)
- Pushbullet
- More?

Any suggestions/reservations?

[2018-07-19 18:37] scottrobertson commented on #75
💥 working nicely

[2018-07-21 11:06] #72 closed

[2018-07-21 15:42] jakehall-IW opened #87 "YNAB API error importing Monzo Transactions"
Just tried to import my Monzo transactions into YNAB, but I'm getting the following error (running this code inside the Heroku dyno). I've double checked the secrets and IDs and they all seem to be correct. Have you got any pointers for this please?

[code]

Thanks!

[2018-07-21 18:51] scottrobertson commented on #87
Hey

Can you run the following:

[code]

Still quite a bit of work to do to make errors more clear. But this should give us an idea of what is wrong.

[2018-07-21 23:21] jakehall-IW commented on #87
Thanks for the tip! This is the error:

[code]

[2018-07-21 23:32] #87 closed

[2018-07-26 08:47] rj175 opened #89 "Error 500 When Using Starling"
Hello,

I setup the fintech-to-ynab a few days ago and it works well (and a massive thank you for this!), but I now notice when a transaction comes in from Starling I'm getting a 500 internal server error from YNAB:

[code]

Not sure if I have just setup the webhook wrong within Starling, any help would be great.

[2018-07-26 09:30] scottrobertson commented on #89
Hey

I am going to need to add more logging and debugging so i can see exactly what is going on. I will push that now, then you will have to update your app and wait for another error :)

[2018-07-26 09:34] scottrobertson commented on #89
Ok, i have pushed extra logging.

[2018-07-26 12:15] rj175 commented on #89
Hey, thanks for the quick reply. Sorry if this sounds like a really simple question, but, how do I update my Heroku app? I clicked the 'Deploy to Heroku' button on github when I first set it up

Cheers

[2018-07-26 12:17] scottrobertson commented on #89
It's a pretty annoying thing to do to be honest, i don't know why they have made it so complex.

But basically, you need to fork this repo, and then setup Github Deployments inside the app settings on heroku (go to the Deploy tab).

We are trying to work out a clean way to document this in #68

[2018-07-26 12:18] scottrobertson commented on #68
@rndthoughts maybe you could document that for now? I have tried, but there really does not seem like a cleaner way to do it.

[2018-07-26 12:42] RJacksonm1 commented on #89
I'm having the same problem with Monzo -> YNAB transactions, with my recently set up instance. My first transaction after setting fintech-to-ynab up worked (July 23rd), but every transaction since has failed. I wonder if something's changed on YNAB's side?

I adjusted the extra logging on my instance to dump the YNAB api's response:

[code]

and the YNAB API is giving me

[code]

----

Digging thr

[2018-07-26 12:44] scottrobertson commented on #89
Hmmm, i wonder if those were lost in a bad merge somewhere. I will get them added back in.

[2018-07-26 12:49] scottrobertson commented on #89
Ok, pushed a fix for that.

And yet another reason i hate the whole "fork" thing, you will now how to do this to update: https://help.github.com/articles/syncing-a-fork/

[2018-07-26 12:50] scottrobertson commented on #89
And thank you @RJacksonm1 for debugging that.

[2018-07-26 12:53] RJacksonm1 commented on #89
@scottrobertson No worries, thanks for the fantastic tool!

[2018-07-26 14:33] rndthoughts commented on #68
@scottrobertson I did manage to find a web gui that let you do it without needed to run console commands but you have to allow it access to your repos obviously.  Otherwise it's command line all the way!

[2018-07-26 14:54] scottrobertson commented on #89
Going to close this, as i think it's fixed now 👍 let me know if it's not.

[2018-07-26 14:54] #89 closed

[2018-07-26 17:20] rj175 commented on #89
@scottrobertson Seems fine for me! Been moving money between accounts and the transactions are coming though (Surprised I haven't had a call from the bank yet questioning my activity!). Cheers for the quick fix :)

I also got the whole forking the repo thing done, I see what you mean, why is it so complicated!!

[2018-07-26 17:22] rj175 commented on #68
I can document how I did it if you want. Although its annoying at least it would help people like me who had no clue where to start. I just forked the repo, then pointed the deployment method to that fork. When I  get a change I can then document the process of updating the fork. Let me know if that's something I can help out with 👍

[2018-07-26 17:26] ohheyrj opened #90 "Notification of Transaction"
I was thinking that it might be useful to add in a feature to push a notification when fintech-to-ynab pushes a transaction into YNAB using something like pushbullet? I know you get the notification from Starling and Monzo, but it would then allow you to get them on your PC etc.

Sorry if this isn't the correct forum to bring this up.

[2018-07-26 17:28] #90 closed, assigned to nobody

[2018-07-26 17:30] scottrobertson commented on #68
@rj175 that would be super useful. Feel free to add it in a comment here, and then we can discuss it and get it added to the wiki/docs :)

[2018-07-30 15:02] duch11 commented on #73
Name: All of the Scandinavian banks
Country: Denmark (but maybe also Sweden, Norway and Finland)
API: https://developer.nordicapigateway.com/
CSV/QIF: not sure

[2018-07-30 15:31] duch11 opened #91 "Use "Nordic API Gateway" to support nordic banks"
As I wrote in #73 Bank Requests, I'll be trying to add support for Nordic API Gateway. It's made by Spiir, which is a great app in itself, but I want YNAB!
And I want it to support automatic transactions from Scandinavia!

My Idea is that with this PS2D "Nordic API Gateway", we'll be able to automatically import the transactions from a bank account, into a YNAB account. The API handles user authen

[2018-07-31 19:27] rj175 commented on #68
Here is my guide to updating the Heroku app by forking the repo. I was going to add in a section for how to update your fork, however I haven't had a change to do so yet and therefore don't want to put in the wrong info! It can probably do with improvement and styling better but it's a start. Finally, all this documenting at work has paid off :joy:

# Upgrading Heroku App Using Github
Upgrading th

[2018-08-01 17:09] scottrobertson commented on #91
Awesome 👍 let me know how your research pans out.

[2018-08-02 08:29] lucasomigli commented on #53
Just tried to connect UK Barclays to Teller.io but unfortunately doesn't work. Devs from teller.io say it's a known problem and they're currently trying to work on it.

Might be nice to bypass the problem using other third-party apps that do a similar thing to Teller.io. This way, chances of working with different institutions would increase.

[2018-08-02 08:32] rndthoughts commented on #68
For reference, the web gui I use is [https://upriver.github.io](url).  That way you can do it without resorting to git commands.

[2018-08-02 08:35] lucasomigli commented on #73
Barclays, UK
https://developer.barclays.com/

Tried with Teller.io but they currently have a problem with Barclays API.

[2018-08-02 10:44] lucasomigli commented on #53
@scottrobertson I see. Then, I reckon only way is to wait for Teller’s devs to come up with a solution themselves. UK Barclays does have an API tough, maybe could be an idea to directly connect it to

[2018-08-02 10:48] lucasomigli commented on #53
@scottrobertson I see. Then, I reckon only way is to wait for Teller’s devs to come up with a solution themselves. UK Barclays does have an API tough, maybe there’s a way to direct connect their API to fintech-to-YNAB without Teller.io?

[2018-08-02 10:54] scottrobertson commented on #53
@lucasomigli I will take a look, but having just spent 10 minutes doing the signup process, and submitting my application for approval, i don't have high hopes that this will be easy enough for people to use. Most people using this are not software developers.

[2018-08-02 10:56] duch11 commented on #91
My conclusions so far:
I'm still lacking understanding of how this project actually works, it's my first time with ruby.
How is the program flow?
Where is the main method?
Where would I write code, to support a new API?

In regards to the API, it seems pretty straight forward, but I'm puzzled by what the "Redirect URL" would be?
![API Getting started](https://user-images.githubusercontent.com/1703

[2018-08-02 10:58] scottrobertson commented on #91
Ah, it requires oAuth. I am not sure that is going to work then. We do not have anywhere to store the access tokens etc (we have no databases - and i am 100% against introducing one).

[2018-08-02 10:58] scottrobertson commented on #91
As for where you would write them, take a look at the others in https://github.com/fintech-to-ynab/fintech-to-ynab/tree/master/app/services/import

[2018-08-02 11:01] duch11 commented on #91
Thank you.
In regards to oAuth, would it be acceptable to store it in a local file, if the program were to run locally on ones own machine?
Would there be a workaround?

[2018-08-02 11:04] scottrobertson commented on #91
The problem is that most people run it via Heroku, and as soon as they do a deploy, it's all lost. That will result in a lot of confusion.

Right now, i think the best option is to just build the importer with the ability to pass in the token, like we do with Monzo. Keep all of the oAuth logic outside of the app until we can think of a solution for it.

[2018-08-02 11:05] scottrobertson commented on #91
For me personally, i have a seperate little service that stores/refreshes Monzo tokens. I then assign that to an ENV var via a bash script. And then i pass that into the Fintech to YNAB importer.

[2018-08-03 06:29] duch11 commented on #91
Thank you for your help :) 👍
I'll be making some sort of solution for this, but maybe not on this project then.
But totally understandable, confusion is a bad thing, it would be better to have a separate project for services that require oAuth :)
I'll try to look for that instead then :)

[2018-08-03 06:29] #91 closed

[2018-08-07 01:59] cmeijburg commented on #73
Name: bunq
Country: Netherlands, Germany, Italy, Spain
API: https://www.bunq.com/developer
CSV: yes, also available. Format: "Date";"Amount";"Account";"Counterparty";"Name";"Description"

Additional api documentation available on https://doc.bunq.com/

[2018-08-15 17:47] kot-behemoth opened #96 "Continuous importing of non-webhook data"
Apologies if I'm asking this in the wrong format. This is not strictly a problem/bug, but more of a question.

I was wondering if it's possible to get a semi-real-time importing behaviour for non-webhook accounts (e.g. Nationwide, TSB etc). I'm thinking of deploying this app on heroku and basically setting cronjob to run 'Import::Teller.new' every half an hour or so.

Is this supported, or is it a

[2018-08-16 22:51] remington82 opened #97 "Last part of getting started, pls help!"
Hi Scott, thanks for putting this together... I'm trying to follow the webhooks instructions for Monzo

I got to the final furlong with this, but then got confused by the last part of the getting started guide, 'Connect to bank' (for Monzo). Here's what I put into the request body...
{
	"account_id": "[from YNAB MONZO ID - as described, the final part of the URL]",
	"url": "[APP URL?secret=SECRETS

[2018-08-16 22:53] remington82 commented on #97
Here's the error I get in the response body:

code:"forbidden.insufficient_permissions"
message:"Access forbidden due to insufficient permissions"

[2018-08-16 22:55] scottrobertson commented on #97
Can you just confirm where you are trying to send that data? In Monzo's dev portal?

The account_id in there is not your YNAB account id, it's your Monzo account ID, which you get by calling the "List Accounts" endpoint on that page.

[2018-08-17 09:32] kot-behemoth commented on #73
I know it’s not strictly a bank, but it’s a very useful feed to auto send to YNAB - American Express.

- Name of Bank: American Express
- Country of Bank: US
- Do they have an API?: looks like it, but not sure about the extent https://developer.americanexpress.com
- If not, do they support CSV/QIF exports?: yes, both

[2018-08-17 09:34] scottrobertson commented on #73
@kot-behemoth it does not look like they have an API for transactions sadly. Perhaps you could send me a sample CSV and i can get that working?

[2018-08-17 10:11] kot-behemoth commented on #73
@scottrobertson I can create a separate issue for this, and upload sample data there, so that it doesn’t add noise to this thread. Will do that once I’m not on mobile. Would QFX alongside CSV be helpful?

[2018-08-17 10:12] scottrobertson commented on #73
@kot-behemoth all of that would be awesome, thank you.

[2018-08-17 20:54] scottrobertson commented on #97
Let me know if that does not work.

[2018-08-17 20:54] #97 closed

[2018-08-17 20:55] scottrobertson commented on #97
I have updated the wiki to make this a bit more clear

[2018-08-18 10:50] scottrobertson commented on #75
Going to leave this at Pushbullet for now. We can add more as we come to them.

[2018-08-18 10:50] #75 closed

[2018-08-18 10:50] scottrobertson commented on #68
Thank you everyone. Will get the docs updated asap.

[2018-08-18 10:52] scottrobertson commented on #68
@rndthoughts that looks good, but it seems to not support pagination, so i can only see forks up to the letter D....

[2018-08-18 14:32] kot-behemoth opened #100 "Teller import fails with YNAB::ApiErrror"
Just tried running Teller import for Nationwide for the first time, following the most [recent Wiki page](https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Import:-Teller).

However, the entire process fails with:

[code]

Is this a known issue? Thanks!

[2018-08-18 14:43] scottrobertson commented on #100
Very helpful of ynab to just return a 500 error.

Let me add some better logging and try and work out the issue here.

[2018-08-18 14:51] scottrobertson commented on #100
@kot-behemoth I have pushed some more logging. Please update and run it again.

I have not used Teller in a long time, as Barclays has been out of action. So perhaps something has changed. This should let us know though.

[2018-08-18 17:31] scottrobertson commented on #100
Hmm, so i just ran this across my old nationwide account, and it worked just fine. Let me see them logs when you can.

[2018-08-18 21:37] kot-behemoth commented on #100
Interesting - could be me using a wrong id or something. Here's a snippet with the new logging

[code]

[2018-08-18 22:29] remington82 commented on #97
Thanks Scott. I got it working using this tutorial. Thanks for updating
though

https://community.monzo.com/t/automatically-import-transactions-to-ynab/38594/6

On Fri, Aug 17, 2018 at 9:55 PM, Scott Robertson <notifications@github.com>
wrote:

[2018-08-19 16:04] leifg opened #101 "Multiple Accounts"
Is there a way to configure multiple accounts to be pushed to ynab without deploying the app twice?

In my concrete scenario I have (up to) 3 accounts because I recently signed up for the Joint Account provided my Monzo (1 Joint Account, 2 individual accounts).

[2018-08-19 16:13] scottrobertson commented on #101
Hey

So there is no way to do it with webhooks at the moment. You can do it with the import cli just fine though.

I will have a look and see how we can do it. The difficulty is the configuration, as we don't have any config files other than environment variables.

[2018-08-19 16:45] ganey commented on #101
I just have 3 deployments all linked to my fork of the GitHub repository as there's no cost involved with heroku

[2018-08-19 16:46] scottrobertson commented on #101
Yeah that works nicely, but that is pretty crappy from a UX perspective. 2 people with a join account would be 4 deployments.

[2018-08-19 16:59] ganey commented on #101
I share YNAB with my partner so it only takes 1 deployment for the joint account

[2018-08-19 17:01] scottrobertson commented on #101
Ok, I have got a super simple way to allow this. Will implement it as soon
as I get home :)

On Sun, 19 Aug 2018, 17:59 Ganey, <notifications@github.com> wrote:

[2018-08-19 22:05] #101 closed

[2018-08-19 22:05] scottrobertson commented on #101
Ok pushed. You can supply `?ynab_account_id` in the webhook URL now.

[2018-08-20 08:45] scottrobertson commented on #101
@ganey this should allow you to drop down to 1 deployment 👍

[2018-08-20 08:47] ganey commented on #101
Awesome thanks!

[2018-08-20 19:39] craigy20 commented on #73
would it be possible to get Halifax transactions feeding into YNAB.

Name of Bank: Halifax
Country of Bank: UK
Do they have an API? Yes, https://developer.halifax.co.uk/opendata-v2
If not, do they support CSV/QIF exports? they do support CSV/QIF exports

[2018-08-20 19:42] scottrobertson commented on #73
@craigy20 it would need to be CSV/QIF sadly. UK banks are basically making it impossible for people to get access, let alone getting access for each person that would want to use Fintech to YNAB.

Can you open a ticket with an example Halifax CSV, and i can get that built out for you 👍

[2018-08-20 21:46] kot-behemoth commented on #100
I decided to check my setup (once I realised that pretty much all the docs have been updated) — and, after updating some of the .env variables, it's all working as expected. Apologies for raising the issue — this was totally my error!

[2018-08-20 21:53] kot-behemoth opened #103 "Import: option for Teller import to ignore already-imported transactions"
I've ran Teller import, and it works flawlessly — hundreds of transactions imported in seconds! Feels great.

However, I ran that on an account which was already up-to-date, and the Teller import imported all transactions — including those that have already been dealt with and marked as reconciled. My question is — is it possible to somehow tell YNAB to drop transactions if they can be seen as dup

[2018-08-20 21:55] scottrobertson commented on #103
It sets the `import_id`, so YNAB should recognise that they are already imported, and do nothing. DId you see something else happen?

[2018-08-20 22:08] scottrobertson commented on #103
I just ran this twice for my nationwide account. It handled the duplicates totally fine. Can you send me the logs of your import please

[2018-08-21 20:28] scottrobertson opened #104 "Possible Hosted Version"
So... i have been thinking about how we can have a hosted version of this app so that webhooks can easily be setup for Monzo and Starling users. 1 major criteria is that we do not store any access tokens etc. This is mainly because i just don't want to have to deal with the security of YNAB data, and also because I don't think YNAB would like this.

What we could do is allow people to send their Y

[2018-08-21 20:51] kot-behemoth commented on #103
I ran it again, and this time it only let through 10 duplicates (out of 132 imported transactions). If it helps in debugging, these were only the transactions I manually imported (via OFX import) and classified within previous 15 minutes.

Here's a screenshot showing the duplicates:

![ynab](https://user-images.githubusercontent.com/582556/44428395-1d470c00-a58c-11e8-8171-1c3c5ab5129b.jpg)

Here's

[2018-08-21 20:55] scottrobertson commented on #103
So the 10 that it duplicated, were they imported previously by Fintech to YNAB, or only by QFX direct into YNAB?

[2018-08-21 20:56] scottrobertson commented on #100
Awesome, thanks 👍

[2018-08-21 20:56] #100 closed

[2018-08-21 20:58] kot-behemoth commented on #103
Only by QFX direct into YNAB.

[2018-08-21 21:10] scottrobertson commented on #103
Ah right. Yeah there is nothing we can do about that sadly.

Back in v1, and part of v2 we did manual checking to see if things had already been imported, and it was horrifically slow, memory intensive and very very unreliable. The best way to use this is to just stick with the CLI tool. That will never import the same transactions twice, as they have the same import_id.

[2018-08-21 21:10] #103 closed

[2018-08-22 19:16] kot-behemoth commented on #103
I do think timing plays a role in this. Otherwise I'd expect all 132 transactions to be duplicated (as they have all been imported manually via QFX import), not just the latest 10.

However, I'm now importing using the automated method, so it's no longer an issue.

[2018-08-22 19:18] scottrobertson commented on #103
Yeah, YNAB do matching, but i have no clues on how it actually works :D

[2018-08-22 19:25] kot-behemoth opened #105 "AMEX CSV/QIF sample exports"
I finally got round to getting sample exports for Amex, as promised [here](https://github.com/fintech-to-ynab/fintech-to-ynab/issues/73#issuecomment-413811715).

Both CSV and QFX are for the same transactions. Hope this is helpful!

[amex.zip](https://github.com/fintech-to-ynab/fintech-to-ynab/files/2311731/amex.zip)

[2018-08-22 19:37] scottrobertson commented on #105
Thank you. Is that CSV correct, no headers?

[2018-08-22 21:28] kot-behemoth commented on #105
Yup, sadly that's it. It's straight from the export. I never use it for imports — always go with QFX myself.

[2018-08-29 07:24] leifg opened #107 "Find discrepancies in Feed"
I ran fintech-to-ynab for multiple weeks with Monzo. Unfortunately the balance is off. Also unfortunately ynab doesn't really sort by datetime so it's hard to manually compare.

It should be fairly simple to compare the transactions programatically. Is there a rake task to show what is missing?

[2018-09-08 13:54] rossdargan commented on #104
Its an interesting idea, but the tokens don't expire so it's as good as having the keys to the kingdom. I suspect eventually they open it up to allow others to "use" your application " The Monzo Developer API is not suitable for building public applications." it will be possible, and that will be the correct way to do it.

Personally, I'd wait :)

[2018-09-25 00:46] scottrobertson commented on #107
Running the import CLI should add any that are missing. But, i started messing around with this, but be careful as it was just hacked together to help me with foreign transactions amounts that had been changed since they were first charged.

https://github.com/fintech-to-ynab/fintech-to-ynab/blob/master/app/services/import/monzo.rb#L19-L71

[2018-09-25 00:52] #105 closed

[2018-09-25 09:06] leifg commented on #107
In the meantime I figured out what's wrong. Hopefully this will help:

If you use your Monzo card for contactless payment on TfL the charges behave a little different. On first enter you will be charged 10 pennies. At the end of the day this transaction is then replaced with the total amount of your days worth trip. So your balance will be off by that amount minus 10 cents.

[2018-09-25 12:49] scottrobertson commented on #107
Yeah that makes sense. The TFL stuff is a mess (not Monzo's fault).

The script above would have fixed that for you. It's basically the same situation as when foreign transactions have their GBP amounts update once the transaction settles.

[2018-09-25 16:30] jkqu opened #108 "Intermittent transaction import from Monzo"
Hi Scott,

I'm getting very intermittent transaction importing into YNAB from Monzo.

I thought it might have been due to the fact I originally set up the Heroku 6-9 months ago and there might have been some updates which didn't get pushed out automatically. However last week i restarted from fresh and whilst it seemed to work perfectly for a few days it's back to being intermittent.

Does the Mon

[2018-09-25 18:05] #107 closed

[2018-09-25 18:06] scottrobertson commented on #108
It's all done server side, so there is no need to open the app etc.

I recommend running the CLI tool to fill in any gaps for now until we get to the bottom of this https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Import:-Monzo#import

[2018-09-25 19:04] jkqu commented on #108
Is this something you're aware of already then?

Let me know if you need any more detail from me to help out,

On Tue, 25 Sep 2018 at 19:06, Scott Robertson <notifications@github.com>
wrote:

[2018-09-26 10:14] scottrobertson commented on #108
It's not something I am aware of, no sadly.

I will try and get some more details from you once I have time to debug.

[2018-09-27 19:44] tibu commented on #73
Name of Bank: Revolut Ltd
    Country of Bank: UK
    Do they have an API?: Only for business
    If not, do they support CSV/QIF exports? No

[2018-09-27 19:59] scottrobertson commented on #73
@tibu just to clarify, you want this for the business account?

[2018-10-04 13:11] minolim opened #113 "Revolut for Business"
Hi there,

Full disclosure: I can query my revolut for business account with requests on python, so I know that token is working.

I am running the console comand on heroku to upload to ynab,

The result I get is : error: 404 Not Found. Use --trace to view backtrace

Any idea?

[2018-10-04 13:14] scottrobertson commented on #113
@minolim can you run it with `--trace` please

[2018-10-04 13:17] minolim commented on #113
[code]

[2018-10-04 22:35] scottrobertson commented on #113
Thanks.

It's hard for me to test this now as i closed my Revolut account.

[2018-10-05 11:05] minolim commented on #113
Let me know if I can help somehow - I code in python, but have no clue about ruby

[2018-10-06 11:01] scottrobertson commented on #104
@rossdargan to be clear, we would not store any Monzo tokens at all.

[2018-10-06 12:56] ganey commented on #104
Wouldn't the YNAB tokens end up in all the logs if passed in via GET? As far as I can tell that's about all that would happen as far as tokens being retrievable from anywhere. Worst case scenario if logs are breached, someone's YNAB ends up with a ton of random data in it / missing.

It would certainly be an easy way to setup webhooks while keeping up to date with the app code, I'd happily use it.

[2018-10-06 13:05] scottrobertson commented on #104
To be honest, I would feel comfortable storing the ynab tokens and logging in via oAuth.

[2018-10-06 13:12] ganey commented on #104
Would users then be able to just select thier YNAB bank account id's via the hosted version? Set the Monzo one and the Starling one via the hosted app?

I assume users could then just set the webhooks to hosted.app/user-id-thing/monzo unless you plan on checking where the webhooks come from? Then determine if monzo or starling

[2018-10-06 17:28] scottrobertson commented on #104
@ganey Would probably encode an access token, ynab account id, and source (monzo, starling etc) in the webhook url.

[2018-10-10 23:41] frazzyfin commented on #73
Name: Halifax Bank of Scotland
Country: UK
API: Not that I know of..
CSV/QIF exports support: Yes

[2018-10-10 23:48] scottrobertson commented on #73
Thanks @frazzyfin

Could you provide a sample CSV please?

[2018-10-11 10:19] frazzyfin commented on #73
Sure, here you go.

[01001254_20181011_1102.txt](https://github.com/fintech-to-ynab/fintech-to-ynab/files/2468472/01001254_20181011_1102.txt)

[2018-10-11 16:07] scottrobertson commented on #73
Thank you. I will get that added asap.

[2018-10-17 23:58] scottrobertson commented on #104
I need some beta testers :D

[2018-10-18 00:14] ganey commented on #104
I'll happily test

[2018-10-18 00:16] scottrobertson commented on #104
@ganey can you send me an email at scottymeuk @ gmail and i will get back to you :)

[2018-10-20 17:53] scottrobertson commented on #73
@frazzyfin can you email me at scottymeuk at gmail? i have something that supports HBOS that i could do with some testing.

[2018-10-27 07:38] solipsia opened #122 "This project is fantastic"
No issue, I just wanted to say thanks! This project is amazing.

[2018-10-27 09:07] scottrobertson commented on #122
Thank you!

[2018-10-27 09:07] #122 closed

[2018-10-27 09:07] scottrobertson commented on #104
Closing this, as it's inbound very soon.

[2018-10-27 09:07] #104 closed

[2018-11-02 09:38] robertmarks opened #126 "URL format for Multiple Accounts"
Trying to setup both my personal and joint Monzo to go through fintech to ynab but unsure of the way the URL should be formatted:

Using a secret on the URL I had this previously for just my personal account but I'm not sure how to att the `ynab_account_id` to this URL:
`https://my-fintech-ynab-app.herokuapps.com/monzo?secret=supersecrethere`

Would be ace if you can point me in the right directio

[2018-11-02 09:39] scottrobertson commented on #126
`https://my-fintech-ynab-app.herokuapps.com/monzo?secret=supersecrethere&ynab_account_id=blah`

[2018-11-02 09:39] #126 closed

[2018-11-02 09:40] scottrobertson commented on #126
If you are struggling, email me (scottymeuk at gmail) and i have an easier option for you :)

[2018-11-12 03:39] scottrobertson commented on #113
@minolim can you email me at scottymeuk @ gmail. I no longer have a Revolut for Business account, and need your help testing this if possible.

[2018-11-12 03:40] scottrobertson commented on #108
Unable to replicate this. Closing unless we can get some heroku logs of this happening.

[2018-11-12 03:40] #108 closed

[2018-11-15 10:14] n0k5 opened #128 "Transactions coming through twice"
I've been using fintech-to-ynab since April and haven't had any problems. Suddenly though (over the last week or so) items have been pulling through twice.

I use Monzo and Heroku to run the script.

Is there a way I can troubleshoot this?

[2018-11-15 21:22] n0k5 commented on #128
Yeah I believe so; not super familiar with how this works.

On Thu, 15 Nov 2018, 12:24 Scott Robertson <notifications@github.com wrote:

[2018-12-03 09:15] ajonesw commented on #128
Hi, what would be the best way to debug this issue I too have the same problem happening with every transaction duplicated on import for roughly the past 4-6 weeks.  Prior to this, the import worked flawlessly without any issue. I have the app running on Heroku via webhooks

[2018-12-03 13:36] scottrobertson commented on #128
@ajonesw other than Monzo having 2 different transaction ids, i really don't see how it can happen. It has never happened to me, even when trying my hardest to replicate ite, so it's basically impossible for me to debug.

[2018-12-03 14:00] ajonesw commented on #128
Hey Scott, the account this is happening is a Monzo Joint account (obviously with two users). Could this possibly mean there are two ids created per transaction in order for each user to receive the notification?

[2018-12-11 23:10] Wilfred opened #133 "Wiki link is broken"
https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/import:-Monzo links to https://github.com/scottrobertson/fintech-to-ynab/wiki/YNAB-Account-ID, which doesn't exist. It should be https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/YNAB-Account-ID

[2018-12-11 23:12] scottrobertson commented on #133
Fixed, thanks.

[2018-12-11 23:12] #133 closed

[2018-12-24 20:03] Venkatakompella opened #135 "fintech to ynab"
Hello There,

I have tried deploying fintech to ynab to herokuapp. However the feeds doesn't seem to come back.

Any Help would be appreciated?

[2018-12-24 20:42] scottrobertson commented on #135
Can you explain in a bit more detail what the issue is?

On Mon, 24 Dec 2018, 20:03 Venkatakompella <notifications@github.com wrote:

[2018-12-25 09:11] Venkatakompella commented on #135
Hey Scott,

I have followed the wiki/getting started to host or deploy the app to herokuapp. I have also registered webhook at developer.monzo.com.

I'm not receiving the transactions feed from monzo into my ynab.
How do I make this work?

BR,
Ven

[2018-12-25 09:59] scottrobertson commented on #135
Did you previously have a prepaid monzo account?

[2018-12-25 11:00] Venkatakompella commented on #135
I had a prepaid account.But the account that i'm seeding now is a joint account

[2018-12-25 11:01] scottrobertson commented on #135
Can you ensure that you are using the correct account id when creating the webhook in monzo. It defaults to the prepaid account.

[2018-12-25 11:35] Venkatakompella commented on #135
Yes,I'm using the correctid.Is there any logging that I can look into to figure out the issue?

[2018-12-25 11:36] scottrobertson commented on #135
You can just tail the heroku logs. It will show once you perform a transaction if it's hitting the correct webhook.

[2018-12-25 11:48] Venkatakompella commented on #135
2018-12-25T11:15:50.408341+00:00 heroku[router]: at=info method=POST path="/Monzo" host=ynabsync.herokuapp.com request_id=1f7c192e-ea61-4678-8079-dadc4f921618 fwd="52.209.175.250" dyno=web.1 connect=0ms service=3ms status=404 bytes=177 protocol=https

404 error

[2018-12-25 13:14] scottrobertson commented on #135
Lowercase m for monzo

On Tue, 25 Dec 2018, 11:48 Venkatakompella <notifications@github.com wrote:

[2018-12-25 14:43] Venkatakompella commented on #135
Suspected so.Thanks. I will come back if any further issues

[2018-12-31 12:47] omgmalm commented on #128
I'm also having the same issue on a regular account. [More people](https://community.monzo.com/t/automatically-import-transactions-to-ynab/38594/17?u=timeconsumer) seem to have the same problem

[2018-12-31 13:37] scottrobertson commented on #128
If possible, do some debugging and get some logs etc. Impossible for me to debut as I cannot replicate it.

[2018-12-31 13:37] scottrobertson commented on #128
The only way transactions will appear twice is if they have different transaction IDs. In that cases it's a Monzo issue.

[2019-01-03 15:57] ajonesw commented on #128
@scottrobertson Hi Scott, further information to add to this issue. The transactions are duplicated right away but a the second transaction appears in YNAB the following day. Could it be that monzo are calling the service twice, once when pending, then again when the transaction clears. Possibly even with a different transactionID when it clears

[2019-01-03 16:56] scottrobertson commented on #128
Even if they call it twice, if the id is the same it makes no difference. Ynab will only allow 1 transaction with the same id.

I will reach out to Monzo and see what happens. Can you try and capture IDs of the transactions that are being duplicated so they can debug?

[2019-01-04 09:32] ajonesw commented on #128
@scottrobertson I captured a couple some examples of this happening. Two updates are received roughly 12 hours apart for the same transaction; again presuming this delay is when the transaction clears/settles. The JSON data is identical apart from the following differences..

First Message :
        "settled": "",
        "updated": "2019-01-03T19:55:41.087Z",

Second Message (Received following d

[2019-01-04 10:34] scottrobertson commented on #128
@ajonesw can you put it in a Gist and email me at scottymeuk (at) gmail.com

[2019-01-04 22:40] #135 closed

[2019-01-04 22:41] scottrobertson commented on #128
To anyone experiencing this, please make sure your app is up to date. Updating on heroku is annoying, but here are some ideas: https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Getting-Started#updates-on-heroku

Closing for now. If someone can show this happening on the latest versions, then i will reopen, but i am unable to replicate this at all on the latest versions.

[2019-01-04 22:41] #128 closed

[2019-01-07 15:37] lucasomigli commented on #73
Name: N26
Country: Germany
API: Yes
CSV Export: Yes

There's another repo where the connection has been built:

https://github.com/schurig/ynab-bank-importer/wiki/n26

[2019-01-11 00:42] Wilfred opened #138 "Document YNAB_ACCOUNT_ID"
It's really handy to specify which YNAB account you're using for Monzo. Looking at the code, it's `YNAB_ACCOUNT_ID` or `YNAB_MONZO_ACCOUNT_ID` (both work).

This environment variable isn't mentioned with the others: https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Getting-Started#environment-variables and I don't seem to be able to edit the wiki page.

This would help with #71 and possibly

[2019-01-11 10:40] scottrobertson commented on #138
Hey

It's not documented by design. It's only in the code to support backwards compatibility for people who used it before we switched to YNAB_MONZO_ACCOUNT_ID.

[2019-01-11 10:40] #138 closed

[2019-02-07 18:05] mattsson commented on #73
Name: Arbejdernes Landsbank (https://al-bank.dk)
Country: Denmark
API: https://developer.nordicapigateway.com

[2019-02-08 09:21] mattsson commented on #91
Hi @duch11, did you get further with this?

[2019-02-13 10:39] quinnfive commented on #73
Hey man I'd also love to have this working with N26 pretty please. I'm using basically N26 and Revolut Business for 95% of my banking and I find it hard to keep up with YNAB cus it's a pain in the butt to automatically import. If you could get these both working I'll seriously be glad of it. Thanks man! Been hoping for a solution for this for several months, now there's some hope :)

[2019-02-15 14:41] duch11 commented on #91
No unfortunately not :)

Med venlig hilsen / Best Regards
 Jonas Ladefoged Holm
 jonas@holm.tech

On Fri, 8 Feb 2019, at 10:22, Marcus Mattsson wrote:

[2019-02-15 22:04] mattsson commented on #91
Ok. In the meantime I’ve created a small node.js script that exports my bank transactions using Nordic API Gateway and imports them into YNAB directly using the public YNAB API.

[2019-02-16 08:35] duch11 commented on #91
Perfect!
I have been working on an angular frontend for managing account sync. Wondering if we could merge?

Med venlig hilsen / Best Regards
 Jonas Ladefoged Holm
 jonas@holm.tech

On Fri, 15 Feb 2019, at 23:04, Marcus Mattsson wrote:

[2019-02-16 21:02] mattsson commented on #91
The script is not very generic, very much built for my purposes but I do want to make it available in a more widely usable format. I'll post in here when I do. :)

[2019-02-16 21:15] scottrobertson commented on #91
It's using oAuth, so we cannot really add it here as we don't have a database in this application to store the access tokens etc.

However, if someone wants to reach out to me at scottymeuk (at) gmail.com, i can look at adding it to syncforynab.com

[2019-02-17 12:29] RosemaryOrchard commented on #73
I'd love to see you support Tink, they're not a bank - but they collect financial transactions together for their users. This means you could support many more banks without implementing each one yourself immediately.

Tink
Europe
https://docs.tink.com/enterprise/api/

[2019-03-24 09:42] topherredden commented on #73
Tandem CC
https://intercom.help/tandembank/open-banking/how-do-i-access-my-credit-card-data-via-open-banking-psd2-apis

[2019-03-24 10:18] scottrobertson commented on #73
@topherredden got a call with Token soon.

[2019-03-24 14:04] topherredden commented on #73
That works for me, I'm signed up to syncforynab 👍

[2019-04-07 14:43] fosibodu commented on #73
Name of Bank: Nordea
Country of Bank: Denmark
Do they have an API?: Yes
If not, do they support CSV/QIF exports?: CSV

[2019-04-07 14:46] scottrobertson commented on #73
@fosibodu I won't be able to add them here sadly, but I can enable them as a beta on Sync for YNAB if you want to try it out there?

[2019-04-07 14:55] scottrobertson commented on #73
@RosemaryOrchard Sadly Tink are not suitable for this project, as they require the user to be present to refresh transactions. This means i would have to send users to Tink every time you wanted to import.

For Sync for YNAB, we use TrueLayer and Saltedge though, we don't directly integrate with banks 👍

[2019-04-07 14:56] scottrobertson commented on #73
Launched N26 beta on Sync for YNAB. Going to look at adding it here, but not sure I will do it as so few people use it.

[2019-04-29 15:41] exptom commented on #73
Could you add Triodos Current (and savings/isa if possible) Accounts? They have an API: https://developer.triodos.com/

[2019-05-28 17:57] drphilth opened #154 "import accounts does not work"
Hi,

I've deployed to heroku as per instructions. Can't seem to get the list of accounts to work. Output is:

$heroku run -a my-herokuapp bin/import accounts
Running bin/import accounts on ⬢ my-herokuapp... up, run.4195 (Free)
error: wrong number of arguments (given 1, expected 3). Use --trace to view backtrace

$heroku run -a my-herokuapp bin/import accounts --trace
Running bin/import accounts --

[2019-05-28 18:08] drphilth commented on #154
Also can't import from teller - get the following error. Not sure if it is related or if it is something separate

`>heroku run -a my-herokuapp bin/import teller --token MYTOKEN --ynab_account_id MY_ID
Running bin/import teller --token MYTOKEN --ynab_account_id MY_ID on ⬢ my-herokuapp... up, run.8692 (Free)
error: uninitialized constant Import. Use --trace to view backtrace

Running bin/import tel

[2019-06-03 11:43] drphilth commented on #154
I think these may be two separate issues. I'm doing some regression testing. Commit 931bb4b022c0305bc582cfde2bb33af981106538 works as expected. The most recent commit fails as above, but specifying a full teller import command including a valid --teller_account_id works as expected.

[2019-06-21 13:04] PieterHartzer opened #158 "X-Hook-Signature not calculated"
Starling provides a X-Hook-Signature in the header to confirm that the request is actually from Starling.  It doesn't appear to be used which could lead to anyone posting data to the endpoint.

[Starling docs](https://developer.starlingbank.com/docs) -> Webhooks

[2019-06-21 13:06] scottrobertson commented on #158
Correct, but by choice.

We implemented a simpler version of this so that it works across multiple providers consistently.

https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/Getting-Started#url-secret-optional

[2019-06-21 13:06] #158 closed

[2019-06-21 13:07] scottrobertson commented on #53
Teller API shutting down

[2019-06-21 13:07] #53 closed

[2019-06-21 13:08] scottrobertson opened #159 "Todo: Remove Teller"
Teller is shutting down the API, so we need to remove it and any banks that come with it.

[2019-07-02 13:15] PromoFaux opened #162 "Updating transactions in YNAB once cleared"
Just back from a lovely holiday, and when going to reconcile on YNAB, I noticed that there were some differences in transaction values.

This is obviously because the initial transaction in Monzo is a placeholder until the exchange rate settlings, however what I ended up with was a ton of transactions that had a few pence difference between YNAB and Monzo. I ended up just letting YNAB do an auto-a

[2019-07-02 13:16] scottrobertson commented on #162
If you are using webhooks, there is no way to do it sadly.

[2019-07-02 13:20] PromoFaux commented on #162
That _is_ a shame. I've not looked into the YNAB API too much, figured you would know enough to be able to answer my question!

Presumably Monzo does not fire a webhook on Transaction update?

[2019-07-02 13:32] scottrobertson commented on #162
@PromoFaux Correct, this is due to Monzo not sending update webhooks.

We support this on Sync for YNAB when connected via TrueLayer.

I will look at adding support for it here, but the way fintech-to-ynab is built, it may make it quite a bit more difficult.

[2019-07-02 13:40] PromoFaux commented on #162
In the mean time, I may look into Sync for YNAB, though I do like the ability to self-host, so perhaps I will just put up with the limits of webhooks :) It's not like I go overseas so often that this is a nightmare!

Thanks for your response.

[2019-07-02 13:41] scottrobertson commented on #162
Yeah it's a bit of a pain when traveling. I still suffer from the same thing as i use webhooks on Sync for YNAB too (because they are just so much nicer overall).

Will see what i can do :)

[2019-10-10 20:08] idetkov commented on #73
Tinkoff bank https://www.tinkoff.ru/eng/
https://github.com/TinkoffCreditSystems
Russia
Do they have an API? - YES

[2019-11-05 08:35] levent commented on #73
Bank: First Direct (same API as HSBC)
Country: UK
API: Yes
CSV/QIF: Yes

I believe this used to be possible with Teller.io

[2019-11-05 09:26] scottrobertson commented on #73
@levent unfortunately we are not able to support open banking API's in this project.

[2019-11-10 22:50] blckmstr commented on #159
what does this mean for all the banks associated with it? will this leave only monzo and starling working in this repo?

[2019-11-10 22:53] blckmstr commented on #154
yeah the docs arent up to date and theres definitely bugs in this whole thing.

Did you set up the teller accounts and connect your bank to teller? It seems teller doesnt offer connections to any UK banks, seems all US banks. Also theres an issue which states that teller is closing down anyway

[2019-11-11 09:21] scottrobertson commented on #154
@blckmstr teller shut down since this was built. They may have relaunched since, but I have not looked to be honest. They should be removed from this.

[2019-11-11 09:22] scottrobertson commented on #159
@blckmstr that is correct yeah.

[2019-11-11 10:04] blckmstr commented on #159
Interesting, I have looked around a little bit and it seems very painful to integrate any brick and mortar UK banks. I would be happy to collaborate to get some new integrations in place. Let me know if you have any avenues, or if you want to continue with this project in general

Thanks

[2019-11-11 10:18] scottrobertson commented on #159
@blckmstr it's not possible to use Open Banking for this project due to a number of reasons. Mainly regulations, and the lack of storage to store access tokens etc.

I launched syncforynab about a year ago to solve these issues.

[2019-11-11 10:23] blckmstr commented on #159
OK, so from your perspective you have already made it possible to import all you need from UK banks into YNAB. However, its split across multiple repos? There are two separate repos. This one for monzo and new banks like that.  Syncforynab for brick and mortar banks? If that is the case I will try and make it work and if it does maybe I can submit a pr to improve the readme a bit?

[2019-11-11 10:48] scottrobertson commented on #159
Sync For YNAB has never been open source.

[2019-11-21 23:42] drphilth commented on #154
@scottrobertson @blckmstr Yes, this was logged when teller was still active. Shame we've lost the ability to import from lots of UK accounts, I had actually got it ruining with some nice periodic cron jobs running.

I'm going to close the issue because it isn't relevant anymore

[2019-11-21 23:42] #154 closed

[2019-12-10 21:42] lukkigi commented on #73
Bank: DKB dkb.de
Country: Germany
API: no
CSV Export: yes

[2019-12-31 21:12] #159 closed

[2019-12-31 21:13] #113 closed

[2019-12-31 21:13] #52 closed

[2019-12-31 21:29] #56 closed

[2020-01-11 16:56] cellulosa opened #186 "Hooks on import / customised import"
Hi @scottrobertson and thank you for the great tool!

I couldn't find in the wiki if it is possible to customise the import process. I'll make two specific examples of what I am trying to achieve to explain myself:

1) As I have been adding YNAB transactions manually until now, I want to import transactions starting from DATE - which I know are the "new ones";
2) I have a Monzo Joint account where

[2020-01-11 17:01] scottrobertson commented on #186
Hey

You can run `bin/import monzo --help` to see the params :)

Or you can see them here: https://github.com/fintech-to-ynab/fintech-to-ynab/blob/master/bin/import#L27-L30

[2020-01-11 17:01] #186 closed

[2020-05-24 13:01] colophonemes commented on #162
I had this problem too (and I also had problems with the Ruby Starling lib dependency in `fintech-to-ynab`), so I wrote my own script to handle this: https://github.com/colophonemes/starling-to-ynab

[2020-05-24 13:04] scottrobertson commented on #162
If someone wants to PR this, feel free, but I am going to close this as it's not something I will be adding due to time.

Sync for YNAB does handle this automatically, as you can connect Webhooks + Open Banking for Monzo, so if you want that, you can use that.

[2020-05-24 13:04] #162 closed

[2020-10-20 07:17] PehrGit commented on #73
Name of Bank: Rabobank
Country of Bank: Netherlands, Ireland, New Zealand, Australia, Gernamy, Poland
Do they have an API: Yes, https://developer.rabobank.nl/
CSV Export: yes

[2020-10-20 07:19] scottrobertson commented on #73
Hey @PehrGit

This is sadly not something we can add to the open source project for a number of reasons, but I have made a not for it in syncforynab.com

[2020-10-20 07:31] PehrGit commented on #73
Are those reasons mainly the European legislation for financial service providers?

[2020-10-20 07:32] scottrobertson commented on #73
And that there is no storage within this project to store oauth tokens etc.
Adding storage makes deploying this much more complex.

On Tue, 20 Oct 2020, 08:31 PehrGit, <notifications@github.com> wrote:

[2020-11-14 22:31] add1989 opened #247 "Help with Docker"
Hi All,

I don't know if I'm being stupid here, but how do I find out what port the Docker container uses?

I've tried to run it with various different combinations but can't seem to figure it out:

[code]

To help new users, could we perhaps but some sample docker commands in the getting started guide?

[2020-11-14 22:33] scottrobertson commented on #247
Hey

Rails/puma uses port 3000 by default

[2020-11-14 22:33] #247 closed

[2020-11-14 23:01] add1989 commented on #247
When I fork the project it doesn't bring the wiki with it, so I can't find a way to edit that.

I will just leave my finished command here in case anybody searches for it:

[code]

[2021-01-08 22:42] scottrobertson commented on #73
Closing this, as it's unlikely that I will be able to add any more banks here, since all are going via Open Banking now, and require storage, and have regulatory requirements for access. Please use syncforynab.com for any banks you want to connect to via Open Banking.

[2021-01-09 01:03] #73 closed

[2021-01-21 22:17] totalitarian opened #273 "Heroku Deploy Issue"
-----> Building on the Heroku-20 stack
-----> Ruby app detected
-----> Installing bundler 1.17.3
-----> Removing BUNDLED WITH version in the Gemfile.lock
-----> Compiling Ruby/Rails
       Command: 'set -o pipefail; curl -L --fail --retry 5 --retry-delay 1 --connect-timeout 3 --max-time 30 https://s3-external-1.amazonaws.com/heroku-buildpack-ruby/heroku-20/ruby-2.5.1.tgz -s -o - | tar zxf - ' fail

[2021-01-22 09:49] #273 closed

[2021-01-22 10:15] totalitarian opened #274 "Monzo Webhook Error - account must be formatted as a uuid (universally unique identifier)"
Hi,

I tried setting up the monzo webhook but get this error on heroku, any ideas?

`YNAB::Client.create_transaction Response: {"error":{"id":"400","name":"bad_request","detail":"account must be formatted as a uuid (universally unique identifier)"}}`

[2021-01-22 10:16] scottrobertson commented on #274
Can you send me the ynab account id environment variable you used?

[2021-01-22 10:30] totalitarian commented on #274
I don't think it asked me for one, only

- YNAB_ACCESS_TOKEN
- YNAB_BUDGET_ID
- URL_SECRET

[2021-01-22 10:32] scottrobertson commented on #274
You will need YNAB_MONZO_ACCOUNT_ID too as per https://github.com/syncforynab/fintech-to-ynab/wiki/import:-Monzo

[2021-01-22 11:50] totalitarian commented on #274
Do I also need to do the #import section too? I'm not interested in importing old transactions just new ones pushed via the webhook

[2021-01-22 11:51] scottrobertson commented on #274
You don't have to do it if you don't want to :)

[2021-01-22 12:34] totalitarian commented on #274
Perfect, thanks very much!

[2021-01-22 12:35] scottrobertson commented on #274
@totalitarian so all sorted? Am I ok to close this?

[2021-01-22 12:37] totalitarian commented on #274
Yes please

[2021-01-22 12:37] #274 closed

[2021-01-22 12:41] scottrobertson commented on #273
What was the issue here?

[2021-01-22 13:06] totalitarian commented on #273
Basically

`The Ruby version you are trying to install does not exist on this stack.`

Tried again today and it seems to have worked OK.

[2021-01-22 13:07] scottrobertson commented on #273
Very odd, as we specify 2.7.2 in the Gemfile.

[2021-04-13 15:21] GazFranklin opened #294 "Starling Retiring existing Webhooks - potential issue?"
Apologies if this is the wrong place for this but it looks like Starling are retiring the current webhooks and replacing them with new ones.

The email I received from Starling says the current webhooks will "start to be disconnected from 13th July 2021".

Any chance fintech-to-ynab will be adding support for the V2 webhooks? I'd do it myself and submit a PR but my Ruby skills are essentially zero

[2021-04-13 15:22] scottrobertson commented on #294
If I get some time, I will look at adding support, but I am not sure when that will be unfortunately.

[2021-04-29 11:20] BraXzy commented on #294
I'd also massively appreciate this update - has anyone been able to look into it?

[2021-05-03 10:42] kurtpeniket opened #301 "V1 API no longer available?"
I've followed everything on the readme and I'm pretty sure I've set up webhooks and tokens correctly but nothing seems to be updating. When I do a manual import (`heroku run ./bin/import starling --token [Starling Token] --ynab_account_id [YNAB Account ID]`), I get a 404 saying that the V1 API is no longer available?

Sorry if this is a dumb issue to open, I'm not very experienced with this kind o

[2021-05-03 10:43] scottrobertson commented on #301
Starling are deprecating V1, and we do not support V2 at this time. If someone wants to add support, feel free, as I likely won't have the time/motivation to do it for a while.

[2021-05-03 10:47] kurtpeniket commented on #301
Ok thanks @scottrobertson , I'll take a look at the docs. Might be something I can work on myself if it's not too difficult!

[2021-05-06 18:45] daveydave opened #302 "Trying to run on Heroku"
Hi Scott. I'm following your getting started doc on setting up with Heroku. When I click "Deploy App" it fails, saying:

  The Ruby version you are trying to install does not exist on this stack.
 !
 !     You are trying to install ruby-2.5.1 on heroku-20

Would you know how to make this work?

[2021-05-06 18:47] scottrobertson commented on #302
I am not sure why it's trying to install 2.5.1, as we specify a higher version. This looks like it's doing the same as happened in https://github.com/syncforynab/fintech-to-ynab/issues/273 and seems to be an intermittent issue on the Heroku side.

[2021-05-06 18:47] #302 closed

[2021-05-06 18:55] daveydave commented on #302
Interesting. I don't know anything about development, but I'll reach out to Heroku and see if they might be able to help. Thanks Scott.

[2021-05-18 07:33] GazFranklin commented on #294
Hi @scottrobertson,

I got this working with Starling's V2 webhooks and so far all seems well.

As I said before I am **not** a Ruby dev so the code isn't the prettiest (some of your existing logic seems to be inside a Gem and I had no idea how to edit one of those!), but it works!

Would you be free any time soon to review?

[2021-05-18 09:34] scottrobertson commented on #294
Hey @GazFranklin

If you submit it as PR I can take a look ASAP.

[2021-05-18 09:38] GazFranklin commented on #294
Done (I think!) #310

[2021-06-12 10:36] olane commented on #302
FWIW, I just got this too. Workaround for me was to just go straight to forking the repo and setting up a new app based on that fork, which just worked. Had to go manually create the correct environment variables but then it all worked fine.

[2021-06-14 15:42] daveydave commented on #302
I'll give that a try. Thanks!

[2021-06-15 15:54] daveydave commented on #302
That worked just as you said! One thing I'm a little concerned about is that the transactions may come over in a European date format vs US format, and if so will YNAB know to convert that? When I export statements from the Monzo app, the date is in European format (even though I'm on Monzo US). Something I called out to them and they'll correct eventually, but in this case it may mess up YNAB. We

[2021-07-01 08:09] GazFranklin commented on #294
@scottrobertson as you've approved my PR, I guess we can close this? :-)

Not sure I can update the Wiki, but (once released) all people need to do it create a V2 webhook, of type "feed item" with the same Payload URL as the old V1 implementation (i.e. https://someone-fintech-to-ynab.herokuapp.com/starling)

[2021-07-01 10:00] scottrobertson commented on #294
@GazFranklin thanks! Updated the Wiki too: https://github.com/syncforynab/fintech-to-ynab/wiki/import:-Starling-Bank

[2021-07-01 10:00] #294 closed

[2021-10-30 13:07] totalitarian opened #342 "Deployed app to Heroku. Redirects to github"
When I click 'open app' or visit my heroku url, it just redirects me to your github. Is that the correct behaviour?

[2021-10-30 13:07] scottrobertson commented on #342
That is the correct behaviour. There is no UI to see.

[2021-10-30 13:07] #342 closed

[2021-11-22 22:27] #301 closed

[2022-06-29 12:23] QuaCKeReD commented on #128
Hi
Just setup Heroku app for webhook feed from Monzo to YNAB.

Am getting duplicate transactions - once from webhook and another from YNAB direct import.

[2022-06-29 12:24] scottrobertson commented on #128
@QuaCKeReD that is expected, they cannot work together in that way.

[2022-06-29 12:24] QuaCKeReD opened #381 "Duplicate Monzo transactions using webhook"
Hi
Just setup Heroku app for webhook feed from Monzo to YNAB.

Am getting duplicate transactions - once from webhook and another from YNAB direct import.

[2022-06-29 12:25] #381 closed

[2022-06-29 12:25] scottrobertson commented on #381
This is expected. The 2 systems cannot work together in that way unfortunately.

[2022-06-29 12:29] QuaCKeReD commented on #381
Hi,
When you say the 2 systems - is that this service and ynab direct import, or this service and any import?

[2022-06-29 12:30] scottrobertson commented on #381
The only way to get webhooks + open banking is to use Sync for YNAB. This script wont work with any other import system.

[2022-09-27 09:58] BraXzy opened #393 "Heroku discontinuing free plans"
Hey Scott, I just came across this news that Heroku is ending all of their free offerings: https://techcrunch.com/2022/08/25/heroku-announces-plans-to-eliminate-free-plans-blaming-fraud-and-abuse

I'm guessing this impacts anyone who has this hosted there. Is there an alternative offering to host the app you'd recommend? Cheers!

[2022-09-27 10:02] scottrobertson commented on #393
Unfortunately I don't have any recommendations for free hosting. There are plenty of ways to do it, but all require a lot more work to do.

My recommendation if you want it to be as cheap as you can without managing servers etc is to just use YNAB Direct Import, and if you really want webhooks, then use Sync for YNAB.